.field-select {
  display: block;
  margin-bottom: 1rem; }
  .field-select__name {
    display: block;
    margin-bottom: 0.4em;
    line-height: 1.5;
    font-weight: 700; }
  .field-select__select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: 1.5;
    padding: 0.3em 0.7em;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #999999;
    border-radius: rem(3px);
    appearance: none;
    background-color: #fff;
    background-image: svg-load("../blocks/field-select/bg-img/select-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.3em center;
    background-size: 1.063em 0.688em; }
    .field-select__select[multiple] {
      background-image: none;
      min-height: 6.8em; }
    .field-select__select::-ms-expand {
      display: none; }
    .field-select__select:active, .field-select__select:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
    .field-select__select[disabled], .field-select__select[readonly] {
      cursor: default;
      background-color: #e6e6e6; }
  .field-select__help-text {
    display: block;
    padding-top: 0.4em;
    font-size: 80%;
    line-height: 1.2em;
    color: gray; }
    .field-select__help-text:empty {
      display: none; }
