.js-modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  -webkit-overflow-scrolling: touch;
  padding: 0 !important;
}

.js-modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}


.modal__dialog {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 81px; */
}




.modal__content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
  outline: 0;
  max-width: 800px;
  margin-top: auto;
  margin-bottom: auto;
}

.modal__header {
  width: 100%;
  height: 60px;
  /* max-width: 800px; */
  position: absolute;
  z-index: 3;
  margin-bottom: -60px;
  padding-top: 24px;
  top: 0;
}

.modal__header .center {
  position: relative;
}

.modal__title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: rem(18px);
  line-height: 1.4;
  font-weight: 700;
  color: currentColor;
}

.modal__close {
  position: absolute !important;
  /* top: 5px; */
  right: 23px;
}

.modal__body {
}

.modal__footer {
  padding: rem(15px);
  flex-shrink: 0;
}











.modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1099;
  right: 0;
  background-color: rgb(255, 255, 255);

}

.modal__backdrop {
  background-color: #fff;
}
.modal__backdrop.black {
  background-color: #1A1B1B;
}

.modal__backdrop {
  animation: modal-backdrop-show 0.6s 1 ;
}

.modal__backdrop.leaving {
  animation: modal-backdrop-hide 0.6s 1;
}

.modal--open .modal__content {
  animation: modal-content-show 0.3s 1 both 0.6s;
}

.modal--open .modal__header {
  animation: modal-header-show 2.2s 1 both 0.8s;
}

.modal--closing {
  animation: modal-hide 0.6s 1;
}

@keyframes modal-backdrop-show {
  0% {
    right: 100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes modal-backdrop-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes modal-content-show {
  0% {
    opacity: 0;
    transform: translateY(-2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes modal-header-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



