//- Все примеси в этом файле должны начинаться c имени блока (hat)

mixin hat(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
      +hat({
        title:'Все наше внимание<br> посвящено вам',
        description:'Каждая женщина мечтает нравиться в первую очередь самой себе.<br> Мы помогаем осуществить это желание'
        })

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' hat--' + modsList[i].trim();
      }
    }

  .hat(class=allMods)&attributes(attributes)
    .hat__chupa
      +chupa()
    .hat__header
      h2.hat__title
        div.js-animate.opacity!=text.title
        span.js-animate.opacity(data-speed="-1.2")
      if(text.more)
        .hat__more
          a(href="#")!=text.more
    if(text.description)
      .note2.hat__description
        div.js-animate.opacity!=text.description
