/* hat grid start */


/*s*/

.hat__chupa {
  margin-bottom: 25px;
  position: relative;
  z-index: 3;
}
.hat__header {
  position: relative;
}

.hat__title > div {
  position: relative;
}

.hat__title span {
  content:'';
  display:inline-block;
  width:256px;
  height:132px;
  background:url('/img/smear.png') center  no-repeat;
  background-size: cover;
  position: absolute;
  top: -53px;
  left: 50%;
  margin-left: -128px;
  z-index: -1;
}

.hat__title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.hat__more {
  display: none;
}

/*e*/

@media(min-width:768px) {
  /*s*/
  .hat__chupa {
    margin-bottom: 36px;
  }

.hat__title span {
  width:512px;
  height:264px;
  top: -93px;
  left: 50%;
  margin-left: -256px;
}

.hat__more {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  align-items: center;
}

.hat__more a {
  font-family: "euclid_flexbold", san-serif;
  color: #191B1B;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.hat__more a:hover,
.hat__more a:focus { 
  color:#47C5CE;
}

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .hat__more a {
    /* font-size: 16px; */
  }
  /*e*/
}



/* hat grid end */


/* hat style start */


/*s*/

.hat {
  text-align: center;
}

.hat__title {
  /* font-size: 24px; */
  line-height: 1.4;
  font-weight: 100;
  position: relative;
}

.hat__description {
  margin-top: 21px;
  padding: 0 32px;
  text-align: center;
}

.hat__description > div {
  display: inline-block;
  position: relative;
}

.hat__description br {
  display: none;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .hat__title {
    line-height: 1.5;
  }
  .hat__description {
  margin-top: 28px;
}
  .hat__description br {
    display: inline-block;
  }

  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  .hat__title {}
  .hat__description {
  }
  /*e*/
}

@media(min-width: 1280px) {
  /*s*/
  .hat__title {
    line-height: 1.05;
  }
  .hat__description {}
  /*e*/
}



/* hat style end */
