/* input label --big start */


/*s*/


/*e*/

@media(min-width:768px) {
  /*s*/
  .inputlabel--big .inputlabel__placeholder {
    top: 47px;
    left: 0px;
  }
  .inputlabel--big label {
    padding-top: 27px;
  }

  /*e*/
}

  .inputlabel--bigall .inputlabel__placeholder {
    top: 45px;
    left: 25px;
  }
  .inputlabel--bigall label {
    padding-top: 27px;
  }


/* input label --big end */
