/* input label --opacity start */

@media(max-width:767px) {

  .inputlabel--opacity label .inputlabel__field.not_empty+.inputlabel__placeholder,
  .inputlabel--opacity label .inputlabel__field:focus+.inputlabel__placeholder {
    top: 27px;
    font-size: 12px;
    left: 15px;
    opacity: 0;
  }
}




/* input label --opacity end */
