/* inputlabel--dark start */

/*s*/
  .inputlabel--dark .input{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
  }
  .inputlabel--dark .inputlabel__placeholder {
    color: #fff;
  }

  .inputlabel--dark .input.not_empty,
  .inputlabel--dark .input:focus {
    background: rgba(255, 255, 255, 0.3);
  }
/*e*/
@media(min-width:768px){
  /*s*/

  /*e*/
}

/* inputlabel--dark end */
