/* inputlabel start */


/*s*/


.inputlabel:focus {

}

.inputlabel {
  display: block;
  position: relative;
  /* top: -9px */
}

.inputlabel label {
  position: relative;
  padding-top: 18px;
  display: block;
  overflow: hidden;
  padding-top: 27px;
}


.inputlabel__placeholder-before {
  display: block;
  font-weight: 400;
  position: absolute;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 1;
  color: #1B1C1C;
  /* font-weight: bold; */
  text-transform: uppercase;
  margin-top: 1px;
  white-space: nowrap;
  top: 0px;
  font-size: 12px;
  left: 0;
  opacity: 0;
  transform: translateX(10px);
}

.inputlabel__placeholder-after {
  display: block;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 46px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 1;
  color: #1B1C1C;
  /* font-weight: bold; */
  text-transform: uppercase;
  margin-top: 1px;
  /* font-weight: bold; */
  left: 0px;
  white-space: nowrap;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 1;
}

 .inputlabel.focus .inputlabel__placeholder-before{
   opacity: 1;
   transform: translateX(0px);
 }

 .inputlabel.focus .inputlabel__placeholder-after{
  opacity: 0;
  transform: translateX(10px);
  -webkit-transform: rotate(10px);
  -o-transform: rotate(10px);
  -moz-transform: rotate(10px);
 }

 .inputlabel.focusout .inputlabel__placeholder-after {
  transition-delay: 0.6s;
 }



 .inputlabel label {
  position: relative;
  /* background: green; */
 }

.inputlabel label:after {
  content:'';
  display:inline-block;
  width:1px;
  background: #55C5CF;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.inputlabel.focus label:after {
  height: 56px;
}

.inputlabel label:before {
  content:'';
  display:inline-block;
  width:1px;
  background: #55C5CF;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 0;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.inputlabel.focus label:before {
  height: 56px;
}

 .inputlabel.focusout label:before {
  transition-delay: 0.6s;
 }
 .inputlabel.focusout label:after {
  transition-delay: 0.6s;
 }



.inputlabel:after {
  content:'';
  display:inline-block;
  width:0px;
  background: #55C5CF;
  position: absolute;
  top: 26px;
  left: 0px;
  height: 1px;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  transition-delay: 0.6s;
}

.inputlabel.focus:after {
  width: 50%;
  transition-delay: 0.6s, 0s;
}

.inputlabel:before {
  content:'';
  display:inline-block;
  width:0px;
  background: #55C5CF;
  position: absolute;
  top: 26px;
  right: 0px;
  height: 1px;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  transition-delay: 0.6s;
}

.inputlabel.focus:before {
  width: 50%;
}

 .inputlabel.focusout:before {
  transition-delay: 0s;
 }
 .inputlabel.focusout:after {
  transition-delay: 0s;
 }

.inputlabel__textarea {
  min-height: 100px
}

.lookgen {
  padding: 0 0 30px 110px;
  max-width: 526px
}

.lookgen__description {
  margin-top: 33px
}




/*e*/

@media(min-width:768px) {
  /*s*/
  .inputlabel--big label:after {
      /* bottom: 20px; */
  }
  /*e*/
}

/* inputlabel end */
