//- Все примеси в этом файле должны начинаться c имени блока (inputlabel)

mixin inputlabel(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +inputlabel('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' inputlabel--' + modsList[i].trim();
      }
    }

  .inputlabel(class=allMods)&attributes(attributes)
    label
      span.inputlabel__placeholder-before!= text
      block
      span.inputlabel__placeholder-after!= text
