/* {blockName} start */
 
 /*s*/
 
 /*e*/
 @media(min-width:768px){
 /*s*/
 
 /*e*/
 }
 @media(min-width:1024px){
 /*s*/
 
 /*e*/
 }
 @media(min-width:1280px){
 /*s*/
 
 /*e*/
 }
 
 /* {blockName} end */