//- Все примеси в этом файле должны начинаться c имени блока (proffesionaly)

mixin proffesionaly(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +proffesionaly('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' proffesionaly--' + modsList[i].trim();
      }
    }

  .proffesionaly(class=allMods)&attributes(attributes)
    .proffesionaly__inner!= text