// В этом файле должны быть стили для БЭМ-блока field-actions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$text-color--muted:           hsl(0, 0%, 50%) !default;

$font-size--small:            80% !default;

$line-height:                 1.5 !default;

.field-actions {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__text {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $font-size--small;
    color: $text-color--muted;
    line-height: 1.2em;
  }
}
