//- Все примеси в этом файле должны начинаться c имени блока (waityou)

mixin waityou(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +waityou('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' waityou--' + modsList[i].trim();
      }
    }

  .waityou(class=allMods)&attributes(attributes)
    .waityou__hat
      +hat({
        title:'Ждем вас в нашем салоне!'
        })
    .waityou__body
      .center
        .row

          .col-xs-12.col-sm-8.col-md-7.col-lg-9.col-sm-offset-2.col-md-offset-0
            .waityou__photo.js-animate.opacity
              .clinic__flat
                img(src="img/clinicback.png", alt="#")
                .clinic__flat-item.clinic__flat-item1.js-animate.reveal__color-blackturq(data-inview-class="reveal" data-speed="0.3" reveal-delay="1")
                  .reveal__body
                    img(src="img/clinic11.png", alt="#")
                .clinic__flat-item.clinic__flat-item2.js-animate.reveal__color-turq(data-inview-class="reveal" data-speed="2.8" reveal-delay="1")
                  .reveal__body
                    img(src="img/clinic21.png", alt="#")
                .clinic__flat-item.clinic__flat-item3.js-animate.reveal__color-black(data-inview-class="reveal" data-speed="1.8" reveal-delay="1")
                  .reveal__body
                    img(src="img/clinic22.png", alt="#")
                .clinic__flat-item.clinic__flat-item4.js-animate.reveal__color-gray(data-inview-class="reveal" data-speed="0.1" reveal-delay="1")
                  .reveal__body
                    img(src="img/clinic14.png", alt="#")

          .col-xs-12.col-sm-8.col-md-5.col-lg-3.col-sm-offset-2.col-md-offset-0
            .waityou__description.note4
              | Высококлассные специалисты. Искренность, доброжелательность, сплоченность, лояльное отношение работников клиники не оставляют равнодушными ни одного клиента
            .waityou__text
              h6 Удобное расположение 
              p Клиника располагается в живописном уголке города Краснодара, с чистым воздухом, нетронутой природой и умиротворяющими видами.
              h6 Косметика премиум класса 
              p Работаем на косметике премиум класса. Деятельность клиники направлена исключительно на здоровье и красоту клиентов салона.
