/* waityou start */


/*s*/

.waityou {
  margin: 44px 0 0 0;
  position: relative;
  z-index: 2;
}

.waityou__hat {}

.waityou__body {}

.waityou__photo {
  margin: 30px 0 38px 0;
}

.waityou__description {
  margin-bottom: 26px;
}

.waityou__text p {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 8px;
}

.waityou__text h6 {
  margin-bottom: 0;
}

.waityou__photo img {
  display: block;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .waityou {}
  .waityou__hat {}
  .waityou__photo {
    margin: 41px 0 29px 0;
  }
  .waityou__body {}
  .waityou__description {
    margin-bottom: 25px;
  }
  .waityou__text {
    font-size: 14px;
  }
  .waityou__more {
    margin: 26px 0 0 0;
  }
   .waityou__photo img {
    width: 100%;
    max-width: 872px;
   }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .waityou__hat .hat__title {
    font-size: 32px;
    line-height: 1.3;
  }
  .waityou__hat .hat__title:after {top: -61px;}
  .waityou__description {
    margin: 89px 0 34px 0;
  }
  .waityou__text {
    margin-left: 88px;
  }
  .waityou__more {
    margin: 34px 0 0 86px;
    max-width: 152px;
  }
  .waityou__more .btx__row {
    width: 48px;
  }

  .waityou__more .btx:focus .btx__row,
  .waityou__more .btx:hover .btx__row {
    width: 58px;
  }
  .waityou__photo {
    margin-bottom: 0;
  }
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .waityou__hat .hat__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .waityou__photo {
    margin: 74px 0 52px 0;
  }
  .waityou__description {
    margin: 140px 0 58px -52px;
  }
  .waityou__text {
    margin-left: 18px;
  }
  .waityou__more {
    margin: 34px 0 0 18px;
    max-width: 152px;
  }
  .cosmeticproducts {
    margin: -93px 0 0 0;
    padding: 137px 0 0 0;
  }
  /*e*/
}



/* waityou end */
