.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  .embed-responsive iframe,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }
  .embed-responsive--4-3::before {
    padding-top: 75%; }
