//- Все примеси в этом файле должны начинаться c имени блока (pg-services)

mixin pg-services(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +pg-services('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pg-services--' + modsList[i].trim();
      }
    }

  .pg-services(class=allMods)&attributes(attributes)
    .pg-services__inner!= text