/* pg services start */

/*s*/
.pg-services {
  width: 100%;
}


.pg-store__list {
margin-bottom: 30px;
}
/*e*/
@media(min-width:768px){
  /*s*/

  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/

  /*e*/
}

/* pg services end */
