//- Все примеси в этом файле должны начинаться c имени блока (modals)

mixin modals()

  +modal('mainmenu', 'Заголовок', 'dark')
    .modal__body
      -
        var myMenu = [
          {
            'text':'Услуги',
            'url':'#',
          },
          {
            'text':'Клиника',
            'url':'#',
          },
          {
            'text':'Галерея',
            'url':'#',
          },
          {
            'text':'Спецпредложения',
            'url':'#',
          },
          {
            'text':'Новости',
            'url':'#',
          },
          {
            'text':'Контакты',
            'url':'#',
          },
        ];
      +menu(myMenu)

  +modal('entry')
    .modal__body
      +online('','inmodal')
