/* page start */


/*s*/

.page {
  width: 100%;
  margin: 20px 0 0 0;
}

.page__header {}

.page__title {}

.page__title h2 {
  font-weight: 400;
}

.page__breadcrumbs {
  display: none;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .page {
    margin: 27px 0 0 0;
  }
  .page__title {
    margin-bottom: 21px;
  }
  .page__breadcrumbs {
    display: block;
  }

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .page__title {
    margin-bottom: 29px;
  }
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .page {
    margin: 58px 0 0 0;
  }
  .page__title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  /*e*/
}


/* page end */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  align-items: center;
}

[tabindex='-1']:focus {
  outline: none !important;
}

[role='button'] {
  cursor: pointer;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
  margin: 0;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  /* -webkit-appearance: button; */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

a svg,
button svg {
  pointer-events: none;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #0275d9;
  background-color: transparent;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: objects;
  transition: color 0.3s;
}

a:hover,
a:focus {
  /* color: #014c8d; */
}

a:visited {
  /* color: #014c8d; */
}

hr {
  box-sizing: content-box;
  overflow: visible;
}
