// Этот блок ответственен ТОЛЬКО за типографику проекта.
// Не пишите тут какую-либо стороннюю стилизацию.
$gray:                        hsl(0, 0%, 50%) !default;
$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;

$font-size--root:             16px !default;

$font-size:                   1rem !default; // rem(16px)

$font-size--h1:               rem(40px) !default;
$font-size--h2:               rem(32px) !default;
$font-size--h3:               rem(24px) !default;
$font-size--h4:               rem(18px) !default;
$font-size--h5:               rem(16px) !default;
$font-size--h6:               rem(16px) !default;

$font-size--small:            80% !default;

$line-height:                 1.5 !default;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif !default;
$font-family--monospace:      SFMono-Regular, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace !default;
$font-family--headings:       $font-family !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$screen-sm:                   480px !default;

$border-radius:               3px !default;



// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff'),
//        url('../fonts/FONTNAME.ttf')  format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }



html {
  font-size: $font-size--root;

  // Для адаптивной типографики, менять font-size на html
  // @media (min-width: $screen-md) {
  //   font-size: ($font-size--root + 2);
  // }
}

body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--headings;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

// .h1,
// .h2,
// .h3,
h1,
h2,
h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

// .h4,
// .h5,
// .h6,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

// .h1,
h1 {
  font-size: $font-size--h1;
}

// .h2,
h2 {
  font-size: $font-size--h2;
}

// .h3,
h3 {
  font-size: $font-size--h3;
}

// .h4,
h4 {
  font-size: $font-size--h4;
}

// .h5,
h5 {
  font-size: $font-size--h5;
}

// .h6,
h6 {
  font-size: $font-size--h6;
}

// .p,
p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: 1rem;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.5rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @media (min-width: $screen-sm) {
    margin-left: 1.5rem;
  }

  & + dt {
    margin-top: ($line-height / 2);
  }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid $border-color;
}

// .small,
small {
  font-size: $font-size--small;
}

sub,
sup {
  font-size: $font-size--small;
}

// .mark,
mark {
  background: rgba($color-warning, 0.3);
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

code,
kbd,
pre,
samp {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  tab-size: 2;
}
