/*
"euclid_flexlight", san-serif
"euclid_flexbold", san-serif
"euclid_flexmedium", san-serif
"euclid_flexbold_italic", san-serif
"euclid_flexregular", san-serif
"euclid_flexultralight", san-serif
"euclid_flexmedium_italic", san-serif
"euclid_flexitalic", san-serif
"euclid_flexlight_italic", san-serif
"euclid_flexultralight_italic", san-serif
font-family: 'Playfair Display', serif;
*/

html {
  font-size: 16px;
}

body {
  line-height: 1.2;
  color: #1B1C1C;
  font-family: "euclid_flexregular";
  font-size: 14px;
  /* overflow-x: hidden; */
  /* position: fixed; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ttn {
  text-transform: none;
}
p {
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  font-family: "euclid_flexbold";
  margin: 0;
}

h1,
h2,
h3 {
}

h4,
h5,
h6 {
}



/* h1 start */


h1 {
    font-family: "euclid_flexregular";
    font-size: 32px;
    line-height: 1.2;
}

@media(min-width:768px){

   h1 {
    font-size: 56px;
  }

}

@media(min-width:1280px){

    h1 {
      font-size: 64px;
    }

}

/* h1 end */

h2 {

}

/* h2 start */

h2 {
    font-family: "euclid_flexregular";
    font-size: 24px;
}


@media(min-width: 1280px){
  h2 {
      font-size: 32px;
  }
}
@media(min-width:1600px){
  h2 {
      font-size: 40px;
  }
}

/* h2 end */

h3 {
  font-size: 24px;
   font-family: "euclid_flexregular";
}

h4 {
  font-size: 24px;
   font-family: "euclid_flexregular";
}

h5 {
  font-family: "euclid_flexbold";
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.1px;
}

@media(min-width:768px){
  /*s*/
  h5 {
   font-family: "euclid_flexlight";
  }
    /*e*/
}

@media(min-width:1600px){
  /*s*/
  h5 {
    font-size: 24px;
  }
    /*e*/
}


h6 {
  font-family: "euclid_flexbold";
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 0;
}

.transform-uppercase {
  text-transform: uppercase;
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul,
ol {
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

@media (min-width: 480px) {
  dd {
  }
}

dd+dt {
  margin-top: 0.75;
}

hr {
  border: 0;
  border-top: 1px solid #999999;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 80%;
}

mark {
  background: rgba(239, 172, 77, 0.3);
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: bolder;

}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}


/* NOTES start */
.note {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 14px;
  line-height: 1.75;
}

@media(min-width:1280px){
  .note {
    font-size: 16px;
    line-height: 1.55;
  }
}


.note2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1.55;
  margin: 0;
}

@media(min-width:1600px){
  .note2 {
    font-size: 24px;
    line-height: 1.4;
  }
}

.note3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1.55;
  margin: 0;
}

@media(min-width:768px){
  .note3 {
    font-size: 24px;
    line-height: 1.4;
  }
}

.note4 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1.55;
  margin: 0;
}

@media(min-width:1280px){
  .note4 {
    font-size: 24px;
    line-height: 1.4;
  }
}

/* NOTES end */


/* list start */

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  position: relative;
  padding-left: 16px;
  line-height: 1.7;
}

.list li:before {
  content:'—';
  display:inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media(min-width:768px){



}
@media(min-width:1088px){



}
@media(min-width:1280px){


}

/* list end */


/* title start */

/*s*/
.title {
  line-height: 1.3;
}
/*e*/
@media(min-width:768px){
  /*s*/
  .title {
    font-size: 32px;
  }
  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/
  .title {
    font-size: 48px;
  }
  /*e*/
}

/* title end */


