/* professionals item start */

/*s*/
.professionals__item-name {
  font-size: 24px;
  line-height: 1.35;
  margin-bottom: 15px;
}
.professionals__item-country {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  /* text-transform: uppercase; */
  font-style: italic;
  margin-bottom: 9px;
}
.professionals__item-application {
  font-size: 12px;
  line-height: 1.35;
  color: #8C8C8C;
}
/*e*/
@media(min-width:768px){
  /*s*/
  .professionals__item-name {
    margin-bottom: 22px;
  }
  .professionals__item-country {
    margin-bottom: 17px;
  }
  .professionals__item-application {
  }
/*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/

  /*e*/
}

/* professionals item end */
