//- Все примеси в этом файле должны начинаться c имени блока (professionals)

mixin professionals(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +professionals('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' professionals--' + modsList[i].trim();
      }
    }

  .professionals(class=allMods)&attributes(attributes)
    .center
      .professionals__hat
        +hat({
          title:'Sensation предлагает услуги <br>настоящих профессионалов',
          description:'стилистов-парикмахеров, мастеров маникюра и педикюра, косметологов и специалистов в области СПА. Наши мастера работают только с косметикой премиум-класса'
        })
      .professionals__list
          .professionals__item
             .professionals__item-name Paul Mitchell
             .professionals__item-country США
             .professionals__item-application
                | используется для окрашивания и ухода за волосами
          .professionals__item
             .professionals__item-name  La Ric
             .professionals__item-country  Австрия
             .professionals__item-application
                |  маникюр и педикюр
          .professionals__item
             .professionals__item-name  Gehwol
             .professionals__item-country  Германия
             .professionals__item-application
                |  маникюр и педикюр
          .professionals__item
             .professionals__item-name  Maria Galland
             .professionals__item-country  Франция
             .professionals__item-application
                |  косметология
          .professionals__item
             .professionals__item-name  Forlled
             .professionals__item-country  Япония
             .professionals__item-application
                |  косметология
          .professionals__item
             .professionals__item-name  Natura Bisse
             .professionals__item-country  Испания
             .professionals__item-application
                |  косметология
          .professionals__item
             .professionals__item-name  Valmont
             .professionals__item-country  Швейцария
             .professionals__item-application
                |  косметология
          .professionals__item
             .professionals__item-name  Follement
             .professionals__item-country  Франция
             .professionals__item-application
                |  маникюр и педикюр
          .professionals__item
             .professionals__item-name  La Sultane de Saba
             .professionals__item-country  Франция
             .professionals__item-application
                |  SPA-процедуры
          .professionals__item
             .professionals__item-name  Keenwell
             .professionals__item-country  Испания
             .professionals__item-application
                |  SPA-процедуры
      a.professionals__action(href="#")
        | СМОТРЕТЬ <br>ВСЕ УСЛУГИ
      .professionals__text
        | Также в нашей клинике красоты представлен ряд специализированных аппаратов Quanta System (Италия), AirGent, RF ReGen MIDI, ReGen RF Maximus (Израиль), VITALASER LIMITED (Германия), Cocсon (Испания), LPG Cellu M6 Integral (Франция).
