/* professionals start */


/*s*/

.professionals {}
.professionals__hat {}
.professionals__hat .hat__description {
max-width: 512px;
    margin-left: auto;
    margin-right: auto;
}
.professionals__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px -10px 0;
}
.professionals__item {
  text-align: center;
  width: 50%;
  max-width: 196px;
  margin-bottom: 70px;
}

.professionals__action {

}
.professionals__action {
  height: 176px;
  width: 176px;
  background:url('/img/action.png') center  no-repeat;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  margin-top: -17px;
}


.professionals__action:hover,
.professionals__action:focus {
  color: #fff;
  opacity: 0.8;
}

.professionals__text {
  color: #1A1B1B;
  font-size: 14px;
  line-height: 1.75;
  margin: 0 auto;
  max-width: 512px;
  margin-top: 33px;
}

/*e*/

@media(min-width:768px) {
  /*s*/
  .professionals__list {
    margin: 51px 0 0;
  }
  .professionals__item {
    margin-bottom: 46px;
  }
  .professionals__action {
    margin-top: 22px;
  }
  .professionals__text {
  margin-top: 65px;
}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .professionals__action {
    margin-top: 54px;
  }
  .professionals__text {
  margin-top: 80px;
}
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .professionals__hat .hat__description {
    max-width: 800px;
  }
  .professionals__list {
    margin: 62px 0 0;
  }
  .professionals__text {
      max-width: 592px;
      margin-top: 72px;
  }
  .professionals__action {
    margin-top: 23px;
  }
  /*e*/
}


/* professionals end */
