//- Все примеси в этом файле должны начинаться c имени блока (pg-service)

mixin pg-service(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +pg-service('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pg-service--' + modsList[i].trim();
      }
    }

  .pg-service(class=allMods)&attributes(attributes)
    .pg-service__inner!= text