/* pg-service start */


/*s*/

.pg-sevice {
  width: 100%;
}

.pg-sevice__content {}

.pg-sevice__menu {
  display: none;
}

.pg-services__seo .hat__description {
  max-width: 592px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2px;
}

.pg-services__features {
  margin: 19px 0 0 0;
}


.pg-services__article {
  margin-top: 56px;
  margin-bottom: 18px;
}
/*e*/

@media(min-width:768px) {
  /*s*/
  .pg-sevice {}
  .pg-sevice__content {}
  .pg-sevice__menu {
    display: block;
  }
  .pg-services__seo .hat__description {
    margin-top: -14px;
  }
  .pg-services__features {
    margin: 33px 0 0 0;
  }
  .pg-services__article {
  margin-top: -69px;
  margin-bottom: 35px;
}
  .pg-services__article .hat__title{
    max-width: 512px;
    margin-left: auto;
    margin-right : auto;
  }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .pg-services__features {
  /* margin: 113px 0 0 0; */
}
.pg-services__article {
  margin-bottom: 50px;
}
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .pg-services__features {}
  .pg-services__article {
  margin-bottom: 82px;
}
  .pg-services__article .hat__title{
    max-width: 592px;
  }
  /*e*/
}



/* pg-service end */
