/* reviews start */


/*s*/

.reviews {
  width: 100%;
  background: #F6FCFD;
  margin: 24px auto 30px;
}

.reviews__box {
  padding: 34px 0 36px 0;
  /* margin-bottom: 39px; */
}

.reviews__item {}

.reviews__title {
  font-family: "euclid_flexbold", san-serif;
  font-size: 16px;
  margin-bottom: 19px;
}

.reviews__text {
  line-height: 1.75;
}

.reviews__date {
  font-size: 12px;
  font-family: "euclid_flexbold", san-serif;
  margin-top: 21px;
}

.reviews__date span {
  margin-right: 8px;
}




/*e*/

@media(min-width:768px) {
  /*s*/
  .reviews {
    background: #fff;
    border: 5px solid rgba(0, 124, 135, 0.1);
    margin: 31px auto 56px;
    max-width: 608px;
  }
  .reviews__box {
    padding: 30px 0 36px 0;
  }
  .reviews__item {
    text-align: center;
  }
  .reviews__title {
    text-align: center;
    font-family: "euclid_flexregular";
  }
  .reviews__text {}

  .reviews__date {}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .reviews {
    max-width: 688px;
    margin-top: 72px;
  }
  .reviews__box {
    padding: 38px 0 49px 0;
  }
  .reviews__title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .reviews__text {
    font-size: 16px;
    line-height: 1.5;
  }
  .reviews__date {
  margin-top: 30px;
}
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .reviews {
    margin-top: 20px;
  }
  .reviews__box {
    padding: 44px 0 55px 0;
  }
  /*e*/
}




/* reviews end */
