//- Все примеси в этом файле должны начинаться c имени блока (reviews)

mixin reviews(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +reviews('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' reviews--' + modsList[i].trim();
      }
    }

  .reviews(class=allMods)&attributes(attributes)
      .center
        .reviews__box
          .reviews__title Отзывы наших клиентов
          +owl-carousel('reviews', 'reviews')(class="owl-reviews")
            div.reviews__item
                .reviews__text Спасибо большое за приятную атмосферу и профессионализм. Все сотрудники "Sensation" очень приветливы, всегда проведут, покажут что и как. Приятно удивили цены на спа-процедуры с распариванием в хамаме; мало где встретишь такое качество услуги за достаточно невысокую стоимость! А еще очень вкусно кормят, что также входит в спа программы!
                .reviews__date <span>Елена</span> 31.01.2018
            div.reviews__item
                .reviews__text Спасибо большое за приятную атмосферу и профессионализм. Все сотрудники "Sensation" очень приветливы, всегда проведут, покажут что и как.
                .reviews__date <span>Елена</span> 31.01.2018
            div.reviews__item
                .reviews__text Спасибо большое за приятную атмосферу и профессионализм. Все сотрудники "Sensation" очень приветливы, всегда проведут, покажут что и как. Приятно удивили цены на спа-процедуры с распариванием в хамаме; мало где встретишь такое качество услуги за достаточно невысокую стоимость! А еще очень вкусно кормят, что также входит в спа программы! С удовольствием придем еще ни один раз! Желаем процветания Вашей клинике красоты!
                .reviews__date <span>Елена</span> 31.01.2018

