/* breadcrumbs start */

/*s*/
.breadcrumbs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 33;
}
.breadcrumbs__lg {
  margin-right: 16px;
  font-size: 16px;
  height: 16px;
}
.breadcrumbs__lg .icon-lg:before{
  color: #1A1B1B;
}
.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.breadcrumbs__list li{}
.breadcrumbs__item {}
.breadcrumbs__item a{
  color: #202221;
  text-decoration: none;
  font-size: 11px;
}


.breadcrumbs__item a:hover,
.breadcrumbs__item a:focus {
  color: #47C5CE;
}

.breadcrumbs__item span{
  color: #202221;
  opacity: 0.2;
  font-size: 11px;
}
.breadcrumbs__separater {
  margin: 0 24px;
  width: 64px;
  height: 1px;
  background: #47C5CE;
}
/*e*/
@media(min-width:768px){
  /*s*/
.breadcrumbs {}
.breadcrumbs__lg {}
.breadcrumbs__list {}
.breadcrumbs__list li{}
.breadcrumbs__item {}
.breadcrumbs__item a{}
.breadcrumbs__separater {}
  /*e*/
}

@media(min-width:1280px){
  /*s*/
.breadcrumbs {}
.breadcrumbs__lg {}
.breadcrumbs__list {}
.breadcrumbs__list li{}
.breadcrumbs__item {}
.breadcrumbs__item a{}
.breadcrumbs__separater {}
  /*e*/
}
@media(min-width:1600px){
  /*s*/
.breadcrumbs {}
.breadcrumbs__lg {}
.breadcrumbs__list {}
.breadcrumbs__list li{}
.breadcrumbs__item {}
.breadcrumbs__item a{}
.breadcrumbs__separater {}
  /*e*/
}

/* breadcrumbs end */
