/* breadcrumbs start */

/*s*/

.breadcrumbs--dark .breadcrumbs__item a{
  color: #fff;
  text-decoration: none;
  font-size: 11px;
}


.breadcrumbs--dark .breadcrumbs__item span{
  color: #fff;
  opacity: 0.5;
  font-size: 11px;
}
.breadcrumbs--dark .breadcrumbs__lg .icon-lg:before {
  color: #fff;
}

/*e*/

/* breadcrumbs end */
