/* input start */


/*s*/


/*e*/

@media(min-width:768px) {
  /*s*/
    .input--big {
      height: 56px;
      padding-left: 25px;
      font-size: 24px;
    }
  /*e*/
}

.input--bigall {
  height: 56px;
  padding-left: 25px;
}


/* input end */
