/* input start */


/*s*/

.input {
  background: none;
  border: none;
  border-bottom: 1px solid #55C5CF;
  outline: none;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  -webkit-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
  border-radius: 0;
  font-size: 16px;
  padding: 0 15px 3px 15px;
  background: none;
  color: #037C88;
  /* background: red; */
  height: 56px;
  padding-left: 25px;
  font-size: 24px;
}
.input:focus {
  /* border-color: rgba(68, 90, 209, 0.5); */
}

textarea.input {
  min-height: 26px;
  max-height: 300px;
  overflow: hidden;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  /*e*/
}


/* input end */
