/* header start */


/*s*/

.header--sticky {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header--sticky .header__menu li a {
  color: #1A1B1B;
}

.header--sticky .header__menu li a:hover,
.header--sticky .header__menu li a:focus {
  border-bottom: 2px solid #47C5CE;
  color: #47C5CE;
}

.header--sticky .header__burger {
  border-top: 2px solid #1A1B1B;
  border-bottom: 2px solid #1A1B1B;
}
.header--sticky .header__phone {
  color: #202221;
}
/*e*/

@media(min-width:900px) {
  /*s*/

  /*e*/
}





/* header end */
