/* header -- dark start */


/*s*/

.header--dark {
  color: #fff;
  border-bottom: 1px solid rgba(26, 27, 27, 0.1);
}

.header--dark .logo {
  background: url('/img/laga-mobile.svg') center left no-repeat;
}

.header--dark .menu__item a{
  color: #fff;
}

.header--dark .header__menu li a{
  color:#1A1B1B;
}

.header--dark .header__burger {
  border-top: 2px solid #1A1B1B;
  border-bottom: 2px solid #1A1B1B;
}

.header--dark .header__phone {
  color: #202221;
}
.header--dark .header__phonefull .callus {
  color: #202221;
}

.header--dark .hamburger-inner,
.header--dark .hamburger-inner::before,
.header--dark .hamburger-inner::after {
  background: #fff;
}

/*e*/

@media(min-width:900px) {
  /*s*/
.header--dark .logo {
  background: url('/img/laga-white.svg') center left no-repeat;
}

.header--dark .header__callback {
  display: block;
  margin-left: 32px;
  }

  /*e*/
}



/* header -- dark end */
