/* header start */

/*s*/
.page-header {
  width: 100%;
  position: relative;
  height: 64px;
  z-index: 18;
}
.header {
  width: 100%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.header .center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 64px;
  align-items: center;
}
.header__lg {
  font-size: 32px;
  margin-right: 24px;
  text-decoration: none;
}
.header__phone {
  display: block;
  font-size: 16px;
  font-family: "euclid_flexbold", san-serif;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  white-space: nowrap;
}
.header__menu {
  display: none;
}
.header__burger {
  width:32px;
  height:16px;
  background:none;
  border:none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  outline: none;
}
.header__burger:after {
  content:'';
  display:block;
  height: 2px;
  width: 48px;
  margin-left: -8px;
  background: #47C5CE;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.header__phonefull {
  margin-left: auto;
  display: none;
}


.header__burger:hover:after{
  opacity: 0;
}

.header__menu {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.header__menu li {
  height: 100%;
  margin-right: 32px;
}
.header__menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.header__menu li a:hover,
.header__menu li a:focus {
  border-bottom: 2px solid #fff;
}

/*e*/
@media(min-width:768px){
  /*s*/
.page-header {
  height: 88px;
}
.header .center {
  height: 88px;
}
.header__lg {
  font-size: 40px;

}
.header__phone {
  display: none;
}
.header__menu {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__phonefull {
  display:block;
}
  /*e*/
}

@media(min-width:1280px){
  /*s*/
  /*e*/
}


@media(min-width:1600px){
  .page-header {
    height: 104px;
  }
  .header__lg {
    font-size: 56px;
    margin-right: 48px;
  }
  .header .center {
    height: 104px;
  }
}
/* header end */
