//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(mods, elements)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header--' + modsList[i].trim();
      }
    }

    // var element = elements.split(',');

  header.header(class=allMods, role='banner')&attributes(attributes)
    .center
      a.header__lg(href="/")
        .icon-lg
      if(elements.phone)
        .header__phone
          | 8 (938) 512-18-18

      ul.header__menu
        li
          a(href="#") Клиника
        li
          a(href="#") Услуги
        li
          a(href="#") Акции
        li
          a(href="#") Контакты
      if(elements.callus)
        .header__phonefull
          +callus()
      button.header__burger(type="button", data-toggle="modal", data-target="#mainmenu")



