.alert {
  position: relative;
  padding: 0.7em 1.5em 0.7em 1.4em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  border-radius: rem(3px);
  color: #1a1a1a;
  background-color: #fff; }
  .alert > * {
    margin-top: 0;
    margin-bottom: 0; }
  .alert > * + * {
    margin-top: 1rem; }
  .alert__header {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: rem(24px);
    font-weight: 400;
    line-height: 1.2;
    color: inherit; }
    .alert__header + * {
      margin-top: 0; }
  .alert__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0; }
  .alert--warning {
    background-color: #fcedd9;
    border: 1px solid #f8d8ab;
    color: #1a1a1a; }
