.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0.3em 0.7em;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.5;
  text-decoration: none;
  text-transform: none;
  color: #1a1a1a;
  border-radius: rem(3px);
  border: 1px solid #cccccc;
  background-color: #e6e6e6;
  background-image: none;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    color: #1a1a1a;
    background-color: #cccccc;
    border-color: #adadad; }
  .btn:visited {
    color: #1a1a1a; }
  .btn:active, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
  .btn--disabled, .btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    color: #1a1a1a;
    background-color: #e6e6e6;
    border-color: #cccccc; }
    a.btn--disabled {
      pointer-events: none; }
