//- Все примеси в этом файле должны начинаться c имени блока (beautifulbutton)

mixin beautifulbutton(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +beautifulbutton('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' beautifulbutton--' + modsList[i].trim();
      }
    }

  .beautifulbutton(class=allMods)&attributes(attributes)
    .center
      .beautifulbutton__label ОНЛАЙН-ЗАПИСЬ
      .beautifulbutton__sale скидка 10%
      .beautifulbutton__arrow
        span.icon-row
