/* beautifulbutton start */


/*s*/

.beautifulbutton {
  /* background: #fff; */
  border: none;
  display: block;
  padding: 0;
  outline: none;
  position: relative;
  /* -webkit-appearance: none !important; */
  z-index: 2;
}

.beautifulbutton .center {
  height: 56px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.beautifulbutton__label {
  font-family: "euclid_flexbold", san-serif;
  color: #191B1B;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12px;
  -webkit-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}

.beautifulbutton__sale {
  color: #47C5CE;
  padding: 0 8px;
  white-space: nowrap;
  font-size: 12px;
  margin-right: auto;
  -webkit-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}

.beautifulbutton__arrow {
  font-size: 8px;
  color: #47C5CE;
  position: relative;
  min-width: 48px;
  overflow: hidden;
  height: 8px;
  flex-basis: 18%;
}

.beautifulbutton__arrow .icon-row {
  position: absolute;
  right: 0px;
  top: 0px;
}




/*e*/

@media(min-width:768px) {
  /*s*/
  .beautifulbutton__sale {
    padding: 0 8px 0 12px;
  }
  .beautifulbutton__arrow {
    flex-basis: 64px;
  }

  .beautifulbutton .center {height: 72px;}
  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  .beautifulbutton__arrow {
    flex-basis: 144px;
  }
  .beautifulbutton .center {
  height: 72px;
}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .beautifulbutton .center {
    height: 120px;
  }
  .beautifulbutton__label {
    font-size: 16px;
  }
  .beautifulbutton__sale {
    font-size: 16px;
    padding: 0 8px 0 27px;
  }
  /*e*/
}





/* beautifulbutton end */
