/* seo start */

/*s*/
.seo {}
.seo__hat {}
.seo__body {}
.seo__text {
  margin-top: 22px;
}
.seo__text h6 {
  margin-bottom: 9px;
}
/*e*/
@media(min-width:768px){
  /*s*/
.seo {}
.seo__hat {}
.seo__body {}
.seo__text {
  margin-top: 29px;
}
  /*e*/
}
@media(min-width:1024px){
  /*s*/

  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/

  /*e*/
}

/* seo end */
