mixin seo(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +seo('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' seo--' + modsList[i].trim();
      }
    }

  .seo(class=allMods)&attributes(attributes)
    .seo__hat
      +hat({
        title:'Косметологические услуги <br>в Краснодаре',
        })
    .seo__body
      .center
        .row
          .col-xs-12.col-sm-8.col-md-8.col-lg-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
            .seo__text.js-animate.opacity14
              p В салоне красоты Sensation работают только профессионалы своего дела. Специалисты сертифицированы и проходят ежегодное повышение квалификации и совершенствуют мастерство посредством профильной подготовки. Наши мастера косметологии знают, насколько важно для клиента найти специалиста, которому можно доверить здоровье и красоту. Косметологические услуги, которые оказывает салон красоты и центр косметологии - профессиональная аппаратная косметология, косметология лица, услуги стилистов, эстетическая косметология, SPA, лазерная косметология, уход за руками и ногами:
              p — фракционная терапия, криотерапия, дермальное ремоделирование, криомоделирование, лифтинг, микротоковая терапия, эндермология, биостимуляция и др;
              p — окрашивание, стрижки и укладки волос, биологические завивки и прически;
              p — уходы за лицом (косметологические услуги), чистка лица и массажи, эпиляция воском;
              p — безинъекционная биоревитализация, удаление рубцов и растяжек, работа с постакне, устранение морщин разной сложности;
              p — хамам, флоатинг, тaлассотерапия, уход по телу, массаж;
              p — аппаратный маникюр и педикюр, СПА маникюр.
              p Если вы цените качественный сервис и комфорт, наш салон красоты рад предложить косметологические услуги, цены Вас приятно удивят. Профессиональная косметология позволяет эффектно преобразить внешний вид. Наш салон красоты поможет почувствовать преимущества качества класса люкс (косметологические услуги) по приемлемым ценам – обращайтесь к администратору клиники за детальной информацией по интересующим вопросам.
