/* article start */


/*s*/

.article {
  margin: 21px 0 0;
}

.article__description {
  padding-bottom: 18px;
  border-bottom: 1px solid #EEECEC;
  margin-bottom: 23px;
}

.article__slider {
  margin: 0px -32px;
}


.article h5 {
  margin-bottom: 7px;
}
.article h6 {
  text-transform: uppercase;
  margin-bottom: 8px;
}
.article p {
  margin-bottom: 7px;
}
.article__slider2 {
  margin: 0 -32px 0;
}
/*e*/

@media(min-width:768px) {
  /*s*/
  .article {
  margin: 38px 0 0;
  }

  .article__description {
  }

  .article__slider {
    margin: 0px -16px;
  }

  .article h6 {}
  .article p {}
  .article__slider2 {
    margin: 0 -16px 0;
  }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .article {
  margin: 81px 0 0;
  }

  .article__description {
  margin-bottom: 31px;
  }

  .article__slider {
  margin: 0px -32px;
  }

  .article h6 {}
  .article p {}

  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .article {
  margin: 94px 0 0;
  }

  .article__description {
  margin-bottom: 46px;
  padding-bottom: 32px;
  }

  .article__slider {
  }

  .article h6 {}
  .article p {}
  .article__slider2 {
    margin: 19px -32px 0;
  }
  /*e*/
}


/* article end */
