//- Все примеси в этом файле должны начинаться c имени блока (article)

mixin article(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +article('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' article--' + modsList[i].trim();
      }
    }

  .article(class=allMods)&attributes(attributes)
    .article__description
      .note2  В последнее время аппаратная косметология для лица приобрела особую популярность, с чем это связано?
    .article__slider
      +owl-carousel('full1', 'full')(class="owl-full")
        div.full__img
          img(src="img/articleslide1.jpg", alt="#")
        div.full__img
          img(src="img/articleslide1.jpg", alt="#")
        div.full__img
          img(src="img/articleslide1.jpg", alt="#")
    br
    br
    h6 Два в одном: нехирургический RF лифтинг и активация мышц
    p Аппарат Maximus объединяет электродинамическую активизацию мышц (DMA) и радиочастотную подтяжку кожи (TriPollar) лица и тела. Как лицо, так и тело под воздействием системы Maximus претерпевают массу положительных изменений. Жировая ткань и дерма разогреваются, подвергаясь липолитическому воздействию. Мышцы тела начинают активно волнообразно сокращаться.
    p Процедура RF-лифтинга (нехирургический лифтинг) способствует тому, что кожа избавляется от продуктов распада и токсинов, усиливается лимфоток и кровообращение, эпидермис заметно омолаживается, а тело обретает подтянутость и стройность. Эффект RF-лифтинга (нехирургический лифтинг) сравним только с хирургической SMAS-подтяжкой. При этом нехирургический лифтинг (RF лифтинг) кожи лица и тела с ReGen Maximus безболезнен, не требует восстановительного периода, и длится от 15 до 30 минут. Цена процедур (rf лифтинг) вас приятно удивит.
    br
    br
    h6 Идеальное тело от Sensation Краснодар
    p Наша клиника уделяет особое внимание красоте и подтянутости человеческого тела. Тем, кто не желает расставаться с шикарной фигурой, мы предлагаем следующие процедуры.
    p Процедура "Радиочастотное уменьшение жировой прослойки TriLipo Body". В процедуре rf лифтинг липолиз проводится в одно время либо чередуясь с мышечной активизацией. После процедуры уходит лишний вес, дряблость кожи, мышцы обретают рельеф и упругость, особенно в зоне пресса, бедер, ягодиц и голеней.
    p Отдельная процедура радиочастотной подтяжки кожи на внутренней поверхности рук. Одновременное избавление от токсинов и повышение тургора кожного покрова.
    br
    br
    h6 RF-лифтинг в клинике Sensation
    p Процедура (RF лифтинг, лифтинг кожи, нехирургический лифтинг) кожи лица и тела проводится с помощью оборудования предоставленного зарекомендовавшей себя израильской компании Pollogen, при этом цена приемлема. У нас есть сертификаты качества на всю используемую продукцию. Специалисты нашей клиники имеют высшее образование в области медицины и косметологии, а также многолетний опыт работы. Косметологи прошли специальное обучение по использованию аппарата ReGen Maximus, что обеспечивает безопасное и результативное проведение процедур (лифтинг кожи, нехирургический лифтинг).
    .article__prices
      +prices()

    h5  До и после
    .article__slider2
      +owl-carousel('full2', 'full')(class="owl-full")
        div.full__img
          img(src="img/doposle.jpg", alt="#")
        div.full__img
          img(src="img/doposle.jpg", alt="#")
        div.full__img
          img(src="img/doposle.jpg", alt="#")

    .article__online
      +online()
