.loader {
  display: inline-block; }
  .loader:before {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    border: 3px solid #e6e6e6;
    border-top: 3px solid #cccccc;
    border-radius: 50%;
    animation: loader-rotate 1s linear infinite; }

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
