//- Стандартный шаблон страницы
include mixins.pug
doctype html
html(class='no-js ', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&subset=cyrillic', rel='stylesheet')


    block meta
      title Home


    block head



  body
    noscript У вас отключен JavaScript. Это пугает.

    block content


    block page-bottom
