//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ../blocks/page/page.pug
include ../blocks/typo/typo.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/close/close.pug
include ../blocks/burger/burger.pug
include ../blocks/code/code.pug
include ../blocks/thumb/thumb.pug
include ../blocks/alert/alert.pug
include ../blocks/menu/menu.pug
include ../blocks/label/label.pug
include ../blocks/loader/loader.pug
include ../blocks/table/table.pug
include ../blocks/table-responsive/table-responsive.pug
include ../blocks/pagination/pagination.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/progress/progress.pug
include ../blocks/pie-chart/pie-chart.pug
include ../blocks/embed-responsive/embed-responsive.pug
include ../blocks/comment/comment.pug
include ../blocks/tooltip/tooltip.pug
include ../blocks/btn/btn.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-file/field-file.pug
include ../blocks/field-range/field-range.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/fields-group/fields-group.pug
include ../blocks/form/form.pug
include ../blocks/is-mobile/is-mobile.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/to-top/to-top.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/swipe/swipe.pug
include ../blocks/nouislider/nouislider.pug
include ../blocks/off-canvas/off-canvas.pug
include ../blocks/modal/modal.pug
include ../blocks/tabs/tabs.pug
include ../blocks/object-fit-polyfill/object-fit-polyfill.pug
include ../blocks/or/or.pug
include ../blocks/inputlabel/inputlabel.pug
include ../blocks/input/input.pug
include ../blocks/fs/fs.pug
include ../blocks/beautifulbutton/beautifulbutton.pug
include ../blocks/feature/feature.pug
include ../blocks/features/features.pug
include ../blocks/callus/callus.pug
include ../blocks/hat/hat.pug
include ../blocks/chupa/chupa.pug
include ../blocks/attention/attention.pug
include ../blocks/services/services.pug
include ../blocks/service/service.pug
include ../blocks/clinic/clinic.pug
include ../blocks/btx/btx.pug
include ../blocks/cosmeticproducts/cosmeticproducts.pug
include ../blocks/mediagalery/mediagalery.pug
include ../blocks/license/license.pug
include ../blocks/seo/seo.pug
include ../blocks/contacts/contacts.pug
include ../blocks/professionals/professionals.pug
include ../blocks/waityou/waityou.pug
include ../blocks/reviews/reviews.pug
include ../blocks/pg-service/pg-service.pug
include ../blocks/article/article.pug
include ../blocks/prices/prices.pug
include ../blocks/online/online.pug
include ../blocks/servicemenu/servicemenu.pug
include ../blocks/pg-services/pg-services.pug
include ../blocks/serviceslist/serviceslist.pug
include ../blocks/modals/modals.pug
