/*
 * ! Locomotive Boilerplate - 2017-03-25
 */


#js-scroll {
  width: 100%;
}

.has-smooth-scroll body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.has-smooth-scroll .o-scroll {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.scroll-content {
  overflow: auto;
  width: 100%;
}

body[data-wheel-reversed] .scroll-content {
  width: 200vw;
}

.o-scroll_example {
  font-size: 0;
  text-align: center;
}

.o-scroll_example div {
  font-size: 1rem;
  display: inline-block;
  width: 40vw;
  margin: 30px;
  height: 500px;
  background-color: blue;
  z-index: 10;
  position: relative;
}

.o-scroll_example div.-sticky {
  background-color: green;
  z-index: 100;
}


.js-animate.opacity {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.js-animate.opacity.is-show {
  opacity: 1;
}





.js-animate.opacity14 {
  opacity: 0;
  -webkit-transition: opacity 1.4s ease-out;
  transition: opacity 1.4s ease-out;
}
.js-animate.opacity14.is-show {
  opacity: 1;
}

.js-animate.opacity16 {
  opacity: 0;
  -webkit-transition: opacity 1.6s ease-out;
  transition: opacity 1.6s ease-out;
}
.js-animate.opacity16.is-show {
  opacity: 1;
}


.js-animate {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}


.js-animate.is-red {
  -webkit-transition: opacity 1s ease-out, background-color 1s ease-out 0.3s;
  transition: opacity 1s ease-out, background-color 1s ease-out 0.3s;
  opacity: 1;
  background-color: red;
}

.reveal:before {
  content:'';
  display:inline-block;
  height:100%;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  /* right: 0; */
  z-index: 5;
}


.reveal__color:before {
  background: #47C5CE;
}

.reveal__color-blackturq:before {
  background: #007C87 ;
}
.reveal__color-turq:before {
  background: #47C5CE ;
}

.reveal__color-black:before {
  background: #060606;
}

.reveal__color-gray:before {
  background: #B3B3B3;
}


.revealup:before {
  animation: revealup 0.6s ease-in-out;
  right: 0;
}
.revealdown:before {
  animation: revealdown 0.6s ease-in-out;
  left:100%;
}

.revealshowbody .reveal__body {
  opacity: 1;
}



@keyframes revealup {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes revealdown {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}



@keyframes revealup {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}


.js-animate.reveal {
  position: relative;
  opacity: 1;
}


.reveal__body {
  opacity: 0;
}


.reveal-step1:before {
  width: 100%;
}

.js-animate.shownow {
  opacity: 1 !important;
}

#stopfooter {
  position: absolute;
  top: 0px;
  left: 0px;
  top: 50%;
}


/*s*/

/*e*/
@media(min-width:768px){
  /*s*/

  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/
#stopfooter {
  top: 100%;
}
  /*e*/
}


/*revealout 0.6s ease-in-out 0.6s, */
