//- Все примеси в этом файле должны начинаться c имени блока (callus)

mixin callus(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +callus('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' callus--' + modsList[i].trim();
      }
    }

  .callus(class=allMods)&attributes(attributes)
    span Звоните:
    span 8 (938) 512-18-18
