/* {blockName} start */

 /*s*/
.callus {
  color: #fff;
  /* display: none; */
}

.callus span {
  display: inline-block;
}

.callus span:first-of-type {
  opacity: 0.4;
  font-size: 12px;
  position: relative;
  top: -1px;
  margin-right: 14px;
}

.callus span:last-of-type {
  font-size: 16px;
  font-family: "euclid_flexbold", san-serif;
}
 /*e*/
 @media(min-width:768px){
 /*s*/

 /*e*/
 }
 @media(min-width:1024px){
 /*s*/

 /*e*/
 }
 @media(min-width:1280px){
 /*s*/
  .callus span:first-of-type {
    font-size: 16px;
    margin-right: 38px;
  }
  .callus span:last-of-type {
    font-size: 24px;
    font-family: "euclid_flexregular", san-serif;
  }
  .callus {
    margin-left: 44px;
  }
 /*e*/
 }

 /* {blockName} end */
