.tooltip {
  position: relative;
  z-index: 1; }
  .tooltip__btn {
    display: inline-block;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    border: none;
    color: transparent;
    background: transparent;
    background-image: svg-load("../blocks/tooltip/bg-img/info.svg", fill=gray);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em; }
  .tooltip__bubble {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: rem(150px);
    max-width: rem(250px);
    padding: 0.8rem 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    @supports (filter: drop-shadow(0 0 0)) {
      .tooltip__bubble {
        box-shadow: none;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); } }
    .tooltip__bubble:before {
      content: '';
      position: absolute;
      top: -5px;
      left: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #fff transparent; }
