// В этом файле должны быть стили для БЭМ-блока field-radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$line-height:                 1.5 !default;

.field-radio {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 1rem;

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 1rem;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: $line-height;
  }

  &__name-text {
    display: inline-block;

    // своя радиокнопка с картинкой

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: rem(5px);
    //   left: 0;
    //   width: rem(14px);
    //   height: rem(14px);
    //   background-image: svg-load('../blocks/field-radio/bg-img/radiobutton.svg');
    //   background-size: 100%;
    // }
    // @at-root input:checked ~ &:before {
    //   background-image: svg-load('../blocks/field-radio/bg-img/radiobutton--checked.svg');
    // }

    // / своя радиокнопка с картинкой

    // своя радиокнопка без картинки

    &:before {
      content: '';
      position: absolute;
      top: rem(5px);
      left: 0;
      width: rem(14px);
      height: rem(14px);
      border: 2px solid currentColor;
      border-radius: 50%;
    }

    @at-root input:focus ~ &:before {
      @include field-focus;
    }

    &:after {
      content: '';
      position: absolute;
      top: rem(9px);
      left: rem(4px);
      width: rem(6px);
      height: rem(6px);
      opacity: 0;
      border-radius: 50%;
      background-color: currentColor;
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }

    // / своя радиокнопка без картинки
  }

  &__input {
    position: absolute;
    top: 0.8em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своей радиокнопки
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
