.field-radio {
  display: block;
  margin-bottom: 1rem; }
  .field-radio__title {
    display: block;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.4em; }
  .field-radio__input-wrap + .field-radio__input-wrap {
    margin-top: 1rem; }
  .field-radio__name {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: 1.5; }
  .field-radio__name-text {
    display: inline-block; }
    .field-radio__name-text:before {
      content: '';
      position: absolute;
      top: rem(5px);
      left: 0;
      width: rem(14px);
      height: rem(14px);
      border: 2px solid currentColor;
      border-radius: 50%; }
    input:focus ~ .field-radio__name-text:before {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
    .field-radio__name-text:after {
      content: '';
      position: absolute;
      top: rem(9px);
      left: rem(4px);
      width: rem(6px);
      height: rem(6px);
      opacity: 0;
      border-radius: 50%;
      background-color: currentColor;
      transition: opacity 0.3s; }
      input:checked ~ .field-radio__name-text:after {
        opacity: 1; }
  .field-radio__input {
    position: absolute;
    top: 0.8em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    opacity: 0; }
    .field-radio__input:focus, .field-radio__input:active {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
  .field-radio__help-text-wrap {
    padding-left: 1.5em; }
  .field-radio__help-text {
    display: block;
    padding-top: 0.4em;
    font-size: 80%;
    line-height: 1.2em;
    color: gray; }
    .field-radio__help-text:empty {
      display: none; }
