/* services-all start */

/*s*/
.services__all {
  text-align: center;
  margin: 48px 0 0 0;
}
.services__all a {
  font-family: "euclid_flexbold", san-serif;
  font-size: 12px;
  text-decoration: none;
  color: #191B1B;
  text-transform: uppercase;
}

.services__all a:hover,
.services__all a:focus {
  text-decoration: underline;
}
/*e*/
@media(min-width:768px){
  /*s*/
  .services__all {
    /* position: absolute; */
    /* left: 80%; */
    /* top: 10px; */
    /* z-index: 5; */
    /* padding-left: 24px; */
    /* margin: 0; */
    display: none;
  }
  /*e*/
}
@media(min-width:1024px){
  /*s*/
  .services__all {
  padding-left: 32px;
  top: 14px;
  }
  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}

/* services-all end */
