/* {blockName} start */


/*s*/

.services {
  width: 100%;
  padding: 0 32px;
  margin: 60px 0 0 0;
}



.services__list {
  margin-top: 23px;
  overflow: hidden;
}

.services__item {
  margin-bottom: 11px;
  -webkit-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
  min-height: 100%;
}

.services__flexy {
  display: none;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .services__flexy {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
  }
  .services {
    padding: 0;
    position: relative;
  }
  .services__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    /* height: 82vh; */
    position: relative;
    /* margin-bottom: 48px; */
    margin-top: 0;
  }

  .services__item {
    width: 20%;
    padding: 88px 24px 133px;
    margin: 0;
    position: relative;
    z-index: 3;
  }

  .services__more-icon .icon-direction-down:before{
    opacity: 0;
    top:0;
    animation: godown 1.2s ease-in-out 0.6s infinite alternate;
    position: relative;
  }


  @keyframes godown {
    from {
      opacity: 0;
      top:0;
    }
    to {
      opacity: 1;
       top:18px;
    }
  }

  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  .services__list {
  /* margin-top: 47px; */
}
  .services__item {
  }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .services__list {}
  .services__item {
    padding: 202px 44px 193px;
  }
  /*e*/
}
@media(min-width:1600px) {
  .services__item {
    padding: 303px 44px 193px;
  }
}


/* {blockName} end */

@media(min-width:768px) {
  .services__item:hover,
  .services__item:focus {

  }

  .services__item:hover .service__title,
  .services__item:focus .service__title {
    color: #fff;
  }

  .services__item:hover .service__title,
  .services__item:focus .service__title {
    color: #000000;
  }
  .services__item:hover .service__discount,
  .services__item:focus .service__discount {
    color: #fff;
  }
  .services__item:hover .service__more-row,
  .services__item:focus .service__more-row {
    color: #fff;
  }
  .services__item:hover .service__menu,
  .services__item:focus .service__menu {
    opacity: 1;
    z-index: 3;
  }
  .services__item:hover .service__text,
  .services__item:focus .service__text {
    opacity: 0;
    z-index: 0;
  }

  .services__item:after {
    content:'';
    display:block;
    width:0px;
    height:100%;
    background:red;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
    background: rgba(0, 124, 135, 0.8);
  }

  .services__item:hover:after,
  .services__item:focus:after {
    width:100%;

  }
}
