 /* services-more start */
 /*s*/

 .services__more {
   display: none;
   font-size: 12px;
   font-family: "euclid_flexbold", san-serif;
   text-align: center;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 20px;
   z-index: 5;
 }

 .services__more-label {
  margin-bottom: 12px;
 }

 .services__more .icon-direction-down {
   font-size: 19px;
 }
 /*e*/

 @media(min-width:768px) {
   /*s*/
   .services__more {
     display: block;
   }
   /*e*/
 }

 @media(min-width:1088px) {
   /*s*/
   .services__more {}
   /*e*/
 }

 @media(min-width:1280px) {
   /*s*/
   .services__more {}
   /*e*/
 }
 /* services-more end */
