/* services title start */


/*s*/

.services__title {
  font-weight: 100;
  text-align: center;
  -webkit-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}

.services__title-label {
  display: inline-block;
  max-width: 240px;
}

.services__title-all {
  display: none;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .services__title {
    position: absolute;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    z-index: 6;
    top: 30px;
  }
  .services__title-label {
    max-width: 100%;
  }
  .services__title-all {
    display: block;
    margin-left: auto;
    position: absolute;
    display: flex;
    left: 80%;
    height: 100%;
    align-items: center;
    padding-left: 24px;
  }
  .services__title-all a {
    font-family: "euclid_flexbold", san-serif;
    font-size: 12px;
    text-decoration: none;
    color: #191B1B;
    text-transform: uppercase;
  }


  .services__title-all a:hover,
  .services__title-all a:focus {
    text-decoration: underline;
  }

  .services__title-all {
    padding-left: 36px;
  }
  .services__title-label {
    /* margin-left: auto; */
    max-width: 100%;
    font-size: 24px;
  }
  /*e*/
}


@media(min-width:1280px) {
  /*s*/
  .services__title-all {
    padding-left: 44px;
  }
  .services__title-label {
    max-width: 330px;
    font-size: 32px;
  }
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .services__title {top: 50px;}
   .services__title-label {
    font-size: 56px;
    line-height: 1.1;
    max-width: 400px;
   }
  /*e*/
}



/* services title end */
