//- Все примеси в этом файле должны начинаться c имени блока (services)

mixin services(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +services('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' services--' + modsList[i].trim();
      }
    }

  .services(class=allMods)&attributes(attributes)
      h2.services__title
        span.services__title-label Услуги нашего центра
        span.services__title-all
          a(href="#") все услуги
      .services__list
        .services__flexy
          img.media__image(src='img/thedart.jpg', alt='Image', role="flex1")
          img.media__image(src='img/thedart.jpg', alt='Image', role="flex2")
          img.media__image(src='img/thedart.jpg', alt='Image', role="flex3")
          img.media__image(src='img/thedart.jpg', alt='Image', role="flex4")
          img.media__image(src='img/thedart2.jpg', alt='Image', role="flex5")

        .services__item(data-flexy="flex1")

              +service({
                title:'Аппаратная косметология',
                text: 'СПА услуги в Краснодаре – это целое бьюти-направление, включающее в себя самые разные оздоровительные процедуры',
                discount:'скидка -10%'
              })
        .services__item(data-flexy="flex2")

              +service({
                title:'SPA',
                text: 'СПА услуги в Краснодаре – это целое бьюти-направление, включающее в себя самые разные оздоровительные процедуры',
              })
        .services__item(data-flexy="flex3")

              +service({
                title:'Эстетическая косметология',
                text: 'Инновационные средства и методы эстетической косметологии',
              })
        .services__item(data-flexy="flex4")

              +service({
                title:'Лазерная косметология',
                text: 'Лазерная косметология избавит Вас от серьезных проблем и дефектов кожи: сосудистых звездочек и нежелательных волос',
              })
        .services__item(data-flexy="flex5")

              +service({
                title:'Маникюр и педикюр',
                text: 'Любой женщине важно поддерживать ногти в идеальном виде',
              })
      .services__more
        .services__more-label
          | Скролльте вниз
        .services__more-icon
          .icon-direction-down
      .services__all
        a(href="#") все услуги

