//- Все примеси в этом файле должны начинаться c имени блока (cosmeticproducts)

mixin cosmeticproducts(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +cosmeticproducts('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' cosmeticproducts--' + modsList[i].trim();
      }
    }

  .cosmeticproducts(class=allMods)&attributes(attributes)
    .cosmeticproducts__center1
      .cosmeticproducts__chupa
        +chupa()
      .cosmeticproducts__center2
        .cosmeticproducts__header.js-animate.opacity(data-speed="-0.8")
          img(src="img/cosmeticproducts1.jpg", alt="1")
      .cosmeticproducts__body
        .cosmeticproducts__center2
          .cosmeticproducts__text.js-animate.opacity16
              h2.cosmeticproducts__title Косметическая продукция
              .cosmeticproducts__description.note3
                | Специалисты центра работают на высококлассной продукции
              .cosmeticproducts__article
                p Дистрибьюторы поставляют препараты в салон красоты напрямую от производителей, поэтому у нас приемлемые цены на косметологические услуги. Центр косметологии строго контролирует качество и исключает вероятность использования подделок. Не навреди – наш основной принцип при оказании оздоровительных и косметологических услуг. Центр косметологии использует продукцию одобренную экспертами мирового уровня и прошедшую необходимые клинические испытания.
                p Cалон красоты рад оказать всестороннюю помощь и предлагает бесплатную консультацию по интересующим вопросам. После беседы с клиентом специалист клиники конкретного профиля индивидуально подбирает программу или разовые процедуры (косметологические услуги, чистка лица) в салоне красоты, которые помогут устранить возникшие проблемы.
        .cosmeticproducts__footer.js-animate.opacity( data-speed="0.6")
          img(src="img/cosmeticproducts2.jpg", alt="1")
