/* comentics start */

/*s*/
.cosmeticproducts__chupa .chupa__lg {
  font-size: 24px;
}
.cosmeticproducts {
  background: #F4F5F5;
  padding: 0 0 28px 0;
  width: 100%;
  margin: 37px 0 0 0;
}
.cosmeticproducts  img {
  display: block;
}
.cosmeticproducts__chupa {}


.cosmeticproducts__body {
  background: #fff;
}
.cosmeticproducts__header {
  /* margin-bottom: 26px; */
  overflow: hidden;
}
.cosmeticproducts__text {
  padding: 46px 24px 0 24px;
}
.cosmeticproducts__title {
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 14px;
}
.cosmeticproducts__description {
  margin-bottom: 26px;
}
.cosmeticproducts__article {
}
.cosmeticproducts__article p{line-height: 1.75;margin-bottom: 8px;}
.cosmeticproducts__footer {
  margin: 32px 0 0 0;
}
/*e*/
@media(min-width:1024px){
  /*s*/
  .cosmeticproducts {
  position: relative;
  margin: 77px 0 0 0;
  }
  .cosmeticproducts .chupa {margin: 0;}
  .cosmeticproducts .center{
    padding: 0;
  }
  .cosmeticproducts img {
  }
  .cosmeticproducts__chupa {
  margin: -38px 0 64px 0;
}
  .cosmeticproducts__chupa .chupa__lg {
  font-size: 32px;
  }
  .cosmeticproducts__body {
  background: none;
  position: relative;
  }
  .cosmeticproducts__header {
  margin-left: 16%;
  margin-bottom: 0;
  /* margin-right: 32px; */
  }
  .cosmeticproducts__text {
  background: #fff;
  padding: 42px 30px 36px;
  width: 50%;
  margin-top: -112px;
  position: relative;
  z-index: 2;
  margin-left: 32px;
  }
  .cosmeticproducts__title {
  }
  .cosmeticproducts__description {
  }
  .cosmeticproducts__article {}
  .cosmeticproducts__article p {
  }
  .cosmeticproducts__footer {
  margin: 0;
  position: absolute;
  right: 0;
  top: 112px;
  width: 50%;
  }

  .cosmeticproducts__center2 {
    max-width: 1040px;
    margin: 0 auto;
  }

  /*e*/
}

@media(min-width:1280px){
  /*s*/
  .cosmeticproducts {
    margin: -167px 0 0 0;
    padding: 137px 0 0 0;
  }
  .cosmeticproducts__chupa {
    margin: 0 0 39px 0;
  }
  .cosmeticproducts__text {
    margin-top: -136px;
  }
  /*e*/
}
@media(min-width:1600px){
  /*s*/
  .cosmeticproducts__text {
  padding: 77px 70px;
  margin-left: 0;
  margin-top: -159px;
  }
  .cosmeticproducts__center2 {
    max-width: 1248px;
    margin: 0 auto;
  }
  .cosmeticproducts__chupa {
    margin: 0 0 87px 0;
  }

  .cosmeticproducts__footer {
    top: 159px;
  }
  /*e*/
}


@media(max-width:767px){
   .cosmeticproducts__center1 {
    padding: 0 32px;
   }
}
/* comentics end */
