// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.5 !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: 1rem;
  margin-bottom: 1rem;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .no-js & {
      display: none;
    }

    @media (min-width: $screen-md) {

      &:after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: $border-color;
      }
    }
  }

  &__link-wrap {
    position: relative;
    border: 1px solid $border-color;
    margin: 0 0.3em 0.3em 0;

    @media (min-width: $screen-md) {
      margin: 0;

      &:not(:last-child) {
        border-right: none;
      }
    }

    &--active {

      @media (min-width: $screen-md) {
        border-bottom: 1px solid transparent;
      }

      #{$block-name}__link {
        color: $text-color !important;
        background-color: #fff;
      }
    }
  }

  &__link {
    display: block;
    padding: $field-padding-vertical $field-padding-horizontal;
    color: $text-color--muted;
    text-decoration: none;
    background-color: $gray-lightest;

    &:hover,
    &:focus {
      color: $text-color--muted;
    }

    &:visited {
      color: $text-color--muted;
    }
  }

  &__content-wrapper {
    display: block;
    padding: $field-padding-vertical $field-padding-horizontal;
    border: 1px solid $border-color;

    @media (min-width: $screen-md) {
      border-top: none;
    }
  }

  &__content-item {

    .js & {
      display: none;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }
}

