extends ../pug/layout.pug

block meta
  title О нас
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content

  .page-header
    +page-header('dark', {callus:true, phone: true})
  +fs({
        title:"О клинике",
        description: "Клиника красоты для тех, кто ценит безупречность сервиса и эксклюзивное мастерство исполнения"
        },
      'about',
      {
        header: false,
        breadcrumbs: true,
        callus:false
          }
     )
  +professionals()(class="js-animate opacity14")
  +waityou()
  +reviews()(class="js-animate opacity14")
  +license()(class="js-animate opacity14")
  +fs({
        title:"Запишитесь<br><span>Online</span>",
        description:"И получите скидку 10%"
  },
  'bestgirl, online',
  {
      header: false,
      breadcrumbs: false,
      callus:false
  })
  +page-footer()
