extends ../pug/layout-off-canvas.pug

block meta
  title Библиотека
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/blocks-library.css')
  style.
    .components-demo {
      display: block;
      padding: 1em;
      margin: auto;
      max-width: 1200px;
      font-family: sans-serif;
    }
    .off-canvas__aside {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  script.
    document.addEventListener('DOMContentLoaded', function(){

      // наполнение бокого меню
      var demoBlocks = document.querySelectorAll('.blocks-library__item');
      var offCanvasMenu = '<li class="menu__item"><a class="menu__link" data-toggle-native="off-canvas" href="/">Главная страница</a></li><li class="menu__item"><a class="menu__link" data-toggle-native="off-canvas" href="https://github.com/nicothin/NTH-start-project">Исходный репозиторий</a></li><li class="menu__item menu__item--separator"><a class="menu__link" data-toggle-native="off-canvas" href="http://nicothin.github.io/NTH-start-project/blocks-demo.html">Демка на github pages</a></li>';
      for (var i=0; i<demoBlocks.length; i++){
        var classes = 'menu__item';
        var block = demoBlocks[i];
        if (block.classList.contains('blocks-library__item--menusep')) { classes += ' menu__item--separator'; }
        offCanvasMenu += '<li class="'+classes+'"><a class="menu__link" data-toggle-native="off-canvas" href="#'+block.getAttribute('id')+'" data-scroll-link>'+block.querySelector('.blocks-library__item-title').textContent+'</a></li>';
      }
      var offCanvasMenuContent = document.getElementById('off-canvas-menu');
      offCanvasMenuContent.innerHTML = offCanvasMenu;

      // просмотр примера кода для блока
      var codeShowTriggers = document.querySelectorAll('.blocks-library__code-show-trigger');
      for (var i = 0; i < codeShowTriggers.length; i++) {
        codeShowTriggers[i].addEventListener('click', function(){
          this.closest('.blocks-library__code-wrapper').querySelector('.blocks-library__code').classList.toggle('blocks-library__code--shown');
        });
      }

    });
  //- script(src='js/SOME.js')

block off-canvas
  ul.menu#off-canvas-menu

block header


block content

  //- Спрайт с картинкой папки (картинки перед заголовками с названием блоков)
  svg(xmlns='http://www.w3.org/2000/svg', style='display:none')
    symbol#folder(viewbox='0 0 60 60')
      path(d='M56.98 11.5H28.02V6.52c0-1.665-1.355-3.02-3.02-3.02H3.02C1.353 3.5 0 4.854 0 6.52v46.96c0 1.665 1.354 3.02 3.02 3.02h53.96c1.665 0 3.02-1.354 3.02-3.02V14.52c0-1.666-1.354-3.02-3.02-3.02zM58 53.48c0 .563-.457 1.02-1.02 1.02H3.02c-.563 0-1.02-.457-1.02-1.02V22.5h56v30.98zM2 20.5V6.52c0-.563.457-1.02 1.02-1.02H25c.562 0 1.02.457 1.02 1.02v6.98h30.96c.563 0 1.02.457 1.02 1.02v5.98H2z')
      path(d='M19 33.5h14c.552 0 1-.447 1-1s-.448-1-1-1H19c-.552 0-1 .447-1 1s.448 1 1 1zm0 6h22c.552 0 1-.447 1-1s-.448-1-1-1H19c-.552 0-1 .447-1 1s.448 1 1 1zm0 6h22c.552 0 1-.447 1-1s-.448-1-1-1H19c-.552 0-1 .447-1 1s.448 1 1 1z')

  //- Вывод блока библиотеки
  mixin block-lib(id, title, sep, realBlockId)
    if(typeof(realBlockId) !== 'undefined' && realBlockId)
      - var realId = realBlockId
    else
      - var realId = id
    section.blocks-library__item(class= sep ? 'blocks-library__item--menusep' : '', id=id, data-id=realId)
      h2.blocks-library__item-title
        a(href=repoUrl + '/tree/master/src/../blocks/' + realId, class='blocks-library__item-title-link', title='Папка блока в репозитории')
          svg(width='20', height='20')
            use(xlink:href='#folder')
        != title
      block

  //- Вывод фрагмента кода в блоке библиотеки
  mixin block-lib-code(id, hideBurger)
    .blocks-library__code-wrapper
      span.blocks-library__code-show-trigger(title='Показать код')
        - if (!hideBurger)
            i.blocks-library__code-icon
      .blocks-library__code(id=id)
        block

  //- Пример вызова примесей вывода блока:
    +block-lib('close', 'Закрыть', false)
      include:markdown-it(linkify) ../blocks/close/readme.md
      div
        +close('Закрыть')
      +block-lib-code()
        include:show-code() ../blocks/close/close.pug



  h1.blocks-library__title Блоки стартового репозитория #[a(href='index.html') проекта]

  +block-lib('page', 'Страница', false)
    include:markdown-it(html='true') ../blocks/page/readme.md
    +block-lib-code()
      pre.code
        code &lt;!DOCTYPE html>
        code &lt;html class="no-js  page" lang="ru">
        code &lt;head>...&lt;/head>
        code &lt;body>
        code   &lt;div class="page__inner">
        code     &lt;div class="page__content">Основное содержимое&lt;/div>
        code     &lt;div class="page__footer-wrapper">Прибитый «подвал»&lt;/div>
        code   &lt;/div>
        code &lt;/body>
        code &lt;/html>

  +block-lib('typo', 'Текст, теги', false)
    include:markdown-it(html='true') ../blocks/typo/readme.md

  +block-lib('grid-mixins', 'Примеси-генераторы модульной сетки', false, 'grid')
    :markdown-it()
      По умолчанию в сборку берётся файл с примесями для создания модульной сетки: `./src/scss/mixins/grid-mixins.scss`. Отдельного БЭМ-блока для сеток нет, используйте семантические классы и применяйте к ним примеси. <br>
      [Пример использования на codepen.io](https://codepen.io/nicothin/pen/aJEOwE?editors=1100).

      Необходимая структура:

      - Контейнер — общая обёртка, обеспечивающая ширину, боковые внутренние отступы (`padding`) и центровку (`margin: auto`). Может содержать любой контент.
      - Прямой родитель сетки — обёртка ячеек, обеспечивающая отрицательные боковые отступы (`margin`).
      - Ячейки любой ширины (по умолчанию 12 колонок, для изменения — переопредить переменную).

    +block-lib-code()
      pre.code
        code &lt;section class="promo">
        code   &lt;div class="promo__inner">
        code     &lt;h2>Заголовок промо&lt;/h2>
        code     &lt;p>Произвольный контент до модульной сетки&lt;/p>
        code     &lt;div class="promo__grid">
        code       &lt;div class="promo__img">&lt;/div>
        code       &lt;div class="promo__text">&lt;/div>
        code     &lt;/div>
        code   &lt;/div>
        code &lt;/section>
        code &nbsp;
        code .promo {
        code
        code   &__inner {
        code     @include container();
        code   }
        code
        code   &__grid {
        code     @include row();
        code   }
        code
        code   &__img {
        code     @include col();
        code     @include col(md, 5);
        code   }
        code
        code   &__text {
        code     @include col();
        code     @include col(md, 7);
        code   }
        code }


  +block-lib('page-header', '«Шапка» страницы', false)
    include:markdown-it(html='true') ../blocks/page-header/readme.md
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/page-header/page-header.pug

  +block-lib('page-footer', '«Подвал» страницы', false)
    include:markdown-it(html='true') ../blocks/page-footer/readme.md
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/page-footer/page-footer.pug

  +block-lib('logo', 'Логотип', false)
    include:markdown-it(html='true') ../blocks/logo/readme.md
    +logo('/')
      img(src='img/logo.svg', alt='Logo', width='64', height='15')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/logo/logo.pug

  +block-lib('main-nav', 'Главная навигация', false)
    include:markdown-it(html='true') ../blocks/main-nav/readme.md
    +main-nav('1')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/main-nav/main-nav.pug

  +block-lib('close', 'Закрыть', false)
    include:markdown-it(html='true') ../blocks/close/readme.md
    div
      +close('Закрыть')
      +close('Закрыть', 'sm')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/close/close.pug

  +block-lib('burger', 'Бургер', false)
    include:markdown-it(html='true') ../blocks/burger/readme.md
    div
      +burger('Показать пример кода', 'burger-code', 'blocks-library__code--shown')
    +block-lib-code('burger-code', true)
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/burger/burger.pug

  +block-lib('or', 'Разеделитель «или»', false)
    include:markdown-it(html='true') ../blocks/or/readme.md
    +or()
    +or('Текст взамен «или»', 'some-mod')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/or/or.pug

  +block-lib('code', 'Код', false)
    include:markdown-it(html='true') ../blocks/code/readme.md
    +code()
      code &lt;div class="some">...&lt;/div>
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/code/code.pug

  +block-lib('thumb', 'Картинки-миниатюры', false)
    include:markdown-it(html='true') ../blocks/thumb/readme.md
    +thumb('img/joker.jpg', 'Джокер', 300, 200)
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/thumb/thumb.pug

  +block-lib('alert', 'Сообщения', false)
    include:markdown-it(html='true') ../blocks/alert/readme.md
    +alert()
      p Обычное сообщение
      +close('Закрыть', 'sm')(class='alert__close', aria-label='Закрыть')
    +alert('Заголовок', 'warning, some-mod-name')
      p Блок сообщения с модификаторами.
      +close('Закрыть', 'sm')(class='alert__close', aria-label='Закрыть')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/alert/alert.pug

  +block-lib('menu', 'Меню', false)
    include:markdown-it(html='true') ../blocks/menu/readme.md
    -
      var myMenu = [
        {
          'text':'Пункт1',
          'url':'/',
        },
        {
          'text':'Пункт2',
          'url':'/',
          'mods': 'separator, active',
        },
        {
          'text':'Пункт3',
          'url':'/',
        },
      ];
    +menu(myMenu)
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/menu/menu.pug

  +block-lib('label', 'Лейбл', false)
    include:markdown-it(html='true') ../blocks/label/readme.md
    +label('Текст1')
    +label('Текст2', '', 'div')
    +label('Текст3', '', 'a')(href='/')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/label/label.pug

  +block-lib('loader', 'Загрузчик', false)
    include:markdown-it(html='true') ../blocks/loader/readme.md
    +loader()
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/loader/loader.pug

  +block-lib('table', 'Таблица', false)
    include:markdown-it(html='true') ../blocks/table/readme.md
    +table()
      caption Таблица
      tr
        th Имя
        th Фамилия
        th Мыло
        th Статус
        th Политическая ориентация
      tr
        td Иннокентий
        td Иванов
        td Хозяйственное
        td Администратор
        td «ВСЕГДА!»
      tr
        td Васисуалий
        td Римский-Корсаков
        td Душистое
        td Пользователь
        td Нижняя
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/table/table.pug

  +block-lib('table-responsive', 'Адаптивная таблица', false)
    include:markdown-it(html='true') ../blocks/table-responsive/readme.md
    +table-responsive()
      caption Таблица
      thead
        tr
          th Имя и фамилия
          th Тип мироощущения
      tbody
        tr
          td(data-label='Имя и фамилия') Анатоле Вассерман
          td(data-label='Тип мироощущения') Девственность
        tr
          td(data-label='Имя и фамилия') Джакомо Казанова
          td(data-label='Тип мироощущения') Небольшая распущенность с лёгкой примесью леденящих душу извращений, чудовищной лжи и имитатора известного органа, обитого телячьей кожей.
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/table-responsive/table-responsive.pug

  +block-lib('pagination', 'Пагинация', false)
    include:markdown-it(html='true') ../blocks/pagination/readme.md
    +pagination()
      +pagination-item('1', '/1')
      +pagination-item('...')
      +pagination-item('4', '/4')
      +pagination-item('5', '/5', true)
      +pagination-item('6', '/6')
      +pagination-item('...')
      +pagination-item('999', '/999')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/pagination/pagination.pug

  +block-lib('breadcrumbs', 'Хлебные крошки', false)
    include:markdown-it(html='true') ../blocks/breadcrumbs/readme.md
    +breadcrumbs()
      +breadcrumbs-item('Главная', '/home')
      +breadcrumbs-item('Услуги', '/services')
      +breadcrumbs-item('Стриптиз')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/breadcrumbs/breadcrumbs.pug

  +block-lib('progress', 'Прогресс', false)
    include:markdown-it(html='true') ../blocks/progress/readme.md
    +progress('30', '30% (без копеек)', 'success')(aria-valuemin='0', aria-valuemax='100')
    +progress('10')(style='height:10px')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/progress/progress.pug

  +block-lib('pie-chart', 'Круговые и секторные диаграммы', false)
    include:markdown-it(html='true') ../blocks/pie-chart/readme.md
    +pie-chart('30')
    +pie-chart('64')(data-size='120', data-border='59.9')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/pie-chart/pie-chart.pug

  +block-lib('comment', 'Комментарий', false)
    include:markdown-it(html='true') ../blocks/comment/readme.md
    +comment({
      username: 'Джокер',
      avatarURL: 'img/joker.jpg',
      authorURL: '/users/joker',
      content: '<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>',
      mods: 'admin',
    })
      +comment({
        username: 'Джокер',
        content: '<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>',
      })
        +comment({
          username: 'Джокер',
          content: '<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>',
        })
    +comment({
      username: 'Джокер',
      content: '<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>',
    })
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/comment/comment.pug



  +block-lib('tooltip', 'Подсказки', true)
    include:markdown-it(html='true') ../blocks/tooltip/readme.md
    p Текст и подсказка: #[+tooltip('Текст подсказки может быть длинным. Хочется, чтобы <em>внутри</em> <small>можно было</small> <i>использовать</i> <b>разметку</b>.')]
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/tooltip/tooltip.pug

  +block-lib('btn', 'Кнопка', false)
    include:markdown-it(html='true') ../blocks/btn/readme.md
    p.
      #[+btn('Кнопка-ссылка')(href='/')]
      #[+btn('Кнопка-input', '', true)(name='submit')]
      #[+btn('Кнопка-button', 'main')]
    p.
      #[+btn('Кнопка-ссылка', 'disabled')(href='/')]
      #[+btn('Кнопка-input', '', true)(name='submit', disabled='')]
      #[+btn('Кнопка-button', 'main')(disabled='')]
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/btn/btn.pug

  +block-lib('field-text', 'Текстовое поле', false)
    include:markdown-it(html='true') ../blocks/field-text/readme.md
    +field-text({
      title: 'Текстовое поле',
      helpText: 'Подсказка под полем',
      isTextarea: true,
      mods: '',
      val: 'Текст внутри',
      attrs: {
        name: 'test',
        placeholder: 'Подсказка',
      }
    })
    +field-text({
      title: 'Текстовое поле',
      helpText: 'Описание ошибки',
      mods: 'error',
      attrs: {
        placeholder: 'Подсказка',
      }
    })
    +field-text()
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/field-text/field-text.pug

  +block-lib('field-checkbox', 'Флажок/чекбокс', false)
    include:markdown-it(html='true') ../blocks/field-checkbox/readme.md
    +field-checkbox([
      {
        title: 'Чекбокс без группы',
        helpText: 'Отдельно расположенный чекбокс',
        attrs: {
          name: 'check0',
        }
      },
    ])
    +field-checkbox([
      {
        title: 'Чекбокс первый',
        helpText: 'И, возможно, единственный',
        mods: 'error',
        attrs: {
          name: 'check1',
          checked: true,
        }
      },
      {
        title: 'Чекбокс второй',
        helpText: 'А, нет. Не единственный...',
        attrs: {
          name: 'check2',
        }
      },
    ], 'Общее необязательное название')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/field-checkbox/field-checkbox.pug

  +block-lib('field-radio', 'Радиокнопки', false)
    include:markdown-it(html='true') ../blocks/field-radio/readme.md
    +field-radio([
      {
        title: 'Первый',
        helpText: 'И, возможно, единственный',
        attrs: {
          name: 'radio',
          checked: true,
        }
      },
      {
        title: 'Второй',
        helpText: 'А, нет. Не единственный...',
        attrs: {
          name: 'radio',
        }
      },
    ], 'Общее необязательное название')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/field-radio/field-radio.pug

  +block-lib('field-toggler', 'Переключатель', false)
    include:markdown-it(html='true') ../blocks/field-toggler/readme.md
    +field-toggler([
      {
        title: 'Одиночный переключатель',
        helpText: 'Это чекбокс, на самом деле',
        attrs: {
          name: 'check10',
        }
      },
    ])
    +field-toggler([
      {
        title: 'Переключатель 1',
        helpText: 'Подсказка',
        attrs: {
          name: 'check11',
          checked: true,
        }
      },
      {
        title: 'Переключатель 2',
        helpText: 'Подсказка',
        mods: 'some',
        attrs: {
          name: 'check11',
        }
      },
    ], 'Две радиокнопки', true)
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/field-toggler/field-toggler.pug

  +block-lib('field-file', 'Файл', false)
    include:markdown-it(html='true') ../blocks/field-file/readme.md
    +field-file({
      title: 'Название',
      helpText: 'Подсказка',
      attrs: {
        name: 'commentFile',
        multiple: true,
      },
      text: {
        selectText: 'Выберите файл(ы)',
        nothingText: 'Ничего не выбрано',
        flesSelectedText: 'Выбрано файлов:',
      },
    })
    +field-file({
      helpText: 'Ошибка',
      mods: 'error',
      attrs: {
        name: 'commentFile3',
      },
    })
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/field-file/field-file.pug

  +block-lib('field-range', 'Ползунок', false)
    include:markdown-it(html='true') ../blocks/field-range/readme.md
    +field-range({
      title: 'Название',
      helpText: 'Подсказка',
      mods: '',
      attrs: {
        name: 'counter',
        min: '1',
        max: '100',
        step: '1',
        value: '40'
      }
    })
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/field-range/field-range.pug

  +block-lib('field-select', 'Селекты', false)
    include:markdown-it(html='true') ../blocks/field-select/readme.md
    +field-select(
      'Название селекта',
      {
        name: 'select0',
        id: 'select-demo0'
      },
      [
        {
          title: 'Опция 1',
          attrs: {
            value: 'val06',
          }
        },
        {
          title: 'Опция 2',
          attrs: {
            value: 'val05',
          }
        },
      ],
      'Подсказка',
      ''
    )
    +field-select(
      'Название селекта',
      {
        name: 'select',
        id: 'select-demo'
      },
      [
        {
          attrs: {
            label: 'Группа',
          },
          child: [
            {
              title: 'Опция1',
              attrs: {
                value: 'val01',
              }
            },
            {
              title: 'Опция2',
              attrs: {
                value: 'val02',
              }
            },
          ]
        },
        {
          title: 'Опция вне группы',
          attrs: {
            value: 'val03',
          }
        }
      ],
      'Подсказка',
      ''
    )
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/field-select/field-select.pug

  +block-lib('field-actions', 'Кнопки формы', false)
    include:markdown-it(html='true') ../blocks/field-actions/readme.md
    +field-actions('* — обязательные поля')
      +btn('Отправить')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/field-actions/field-actions.pug

  +block-lib('fields-group', 'Группа полей', false)
    include:markdown-it(html='true') ../blocks/fields-group/readme.md
    +fields-group()
      +field-text({
        helpText: 'Подсказка',
        attrs: {
          placeholder: 'Логин'
        }
      })
      +field-text({
        helpText: 'Подсказка',
        attrs: {
          type: 'password',
          placeholder: 'Пароль',
        },
      })
      +field-actions()
        +btn('Отправить', 'primary')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/fields-group/fields-group.pug

  +block-lib('form', 'Форма', true)
    include:markdown-it(html='true') ../blocks/form/readme.md
    +form()
      +fieldset('Название1')
        +field-text({
          helpText: 'Подсказка',
          attrs: {
            placeholder: 'Пример'
          }
        })
        +field-text({
          helpText: 'Подсказка',
          attrs: {
            placeholder: 'Пример'
          }
        })
      +fieldset('Название2')
        +field-text({
          helpText: 'Подсказка',
          attrs: {
            placeholder: 'Пример'
          }
        })
        +field-text({
          helpText: 'Подсказка',
          attrs: {
            placeholder: 'Пример'
          }
        })
      +field-actions()
        +btn('Отправить', 'primary')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/form/form.pug

  +block-lib('is-mobile', 'Определение мобильного устройства', false)
    include:markdown-it(html='true') ../blocks/is-mobile/readme.md

  +block-lib('scroll-link', 'Ссылки на якоря страницы', false)
    include:markdown-it(html='true') ../blocks/scroll-link/readme.md
    +scroll-link('Описание блока <code>page</code>', '#page')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/scroll-link/scroll-link.pug

  +block-lib('to-top-block', 'Ссылка «вверх»', false, 'to-top')
    include:markdown-it(html='true') ../blocks/to-top/readme.md
    +to-top()
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/to-top/to-top.pug

  +block-lib('dropdown', 'Выпадающий элемент', false)
    include:markdown-it(html='true') ../blocks/dropdown/readme.md
    pre.code
      code // Факт открытия
      code $('#drop-demo-01').closest('.dropdown').on('shown.nth.dropdown', function () {
      code   console.log('shown.nth.dropdown');
      code });
      code
      code // Факт закрытия
      code $('#drop-demo-01').closest('.dropdown').on('hidden.nth.dropdown', function () {
      code   console.log('hidden.nth.dropdown');
      code });
    +dropdown('Дроп (с выводом событий в консоль)', 'drop-demo-01')
      p текст
    span &nbsp;
    +dropdown('Выпадающее меню', 'drop-demo-02', 'up, right')
      .menu
        span.menu__item
          a.menu__link(href='') Пункт списка
        span.menu__item
          a.menu__link(href='') Пункт меню весьма длинный
        span.menu__item
          a.menu__link(href='') Второй пункт
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/dropdown/dropdown.pug

  +block-lib('owl-carousel', 'Карусель с <a href="http://owlcarousel2.github.io/OwlCarousel2/">owl-carousel</a>', false)
    include:markdown-it(html='true') ../blocks/owl-carousel/readme.md
    +owl-carousel('promo')
      div слайд1
      div слайд2
      div слайд3
      div слайд4
      div слайд5
      div слайд6
      div слайд7
      div слайд8
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/owl-carousel/owl-carousel.pug

  +block-lib('swipe', 'Карусель с <a href="https://github.com/lyfeyaj/swipe">swipe</a>', false)
    include:markdown-it(html='true') ../blocks/swipe/readme.md
    +swipe('swipe-demo')
      div слайд1
      div слайд2
      div слайд3
      div слайд4
      div слайд5
      div слайд6
      div слайд7
      div слайд8
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/swipe/swipe.pug

  +block-lib('nouislider', 'Выбор диапазона с <a href="https://refreshless.com/nouislider/">noUiSlider</a>', false)
    include:markdown-it(html='true') ../blocks/nouislider/readme.md
    +nouislider('demo-nouislider')
      p(style='margin-top: 1rem;')
        input#demo-nouislider-start(type='number', value='10')
        input#demo-nouislider-end(type='number', value='80')
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/nouislider/nouislider.pug

  +block-lib('off-canvas', 'Боковое меню страницы', false)
    include:markdown-it(html='true') ../blocks/off-canvas/readme.md
    p #[button.btn(type='button', data-toggle='off-canvas') Показать/скрыть боковое меню]
    +block-lib-code()
      pre.code
        code //- Разметка, необходимая для использования бокового меню
        code #off-canvas.off-canvas
        code   aside.off-canvas__aside(role='complementary', aria-label='Боковое меню') Меню
        code   .off-canvas__page-content Контент
        code   .off-canvas__overlay(data-toggle='off-canvas')
        code
        code button.btn(type='button', data-toggle='off-canvas') Показать/скрыть боковое меню
        code a(href='#SOME_HASH', data-toggle-native='off-canvas') Показать/скрыть боковое меню и перейти на якорь

  +block-lib('modal', 'Модальное окно', false)
    include:markdown-it(html='true') ../blocks/modal/readme.md
    p Одно и то же модальное окно, в консоль выводятся события. #[button.btn(type='button', data-toggle='modal', data-target='#modal-demo-01') Показать модальное окно] #[a(href='#modal-demo-01', data-toggle='modal') Показать модальное окно] #[span(data-toggle='modal', data-target='#modal-demo-01') Показать модальное окно]
    +modal('modal-demo-01', 'Заголовок', 'some')
      .modal__body
        p Текст
      .modal__footer
        button.btn(type='button', data-dismiss='modal') Закрыть
    pre.code
      code // методы
      code $('#modal-demo-01').modal(options)
      code $('#modal-demo-01').modal('show')
      code $('#modal-demo-01').modal('hide')
      code $('#modal-demo-01').modal('toggle')
      code
      code // события
      code $('#modal-demo-01').on('show.nth.modal', function(){
      code   console.log('show.nth.modal');
      code });
      code $('#modal-demo-01').on('shown.nth.modal', function(){
      code   console.log('shown.nth.modal');
      code });
      code $('#modal-demo-01').on('hide.nth.modal', function(){
      code   console.log('hide.nth.modal');
      code });
      code $('#modal-demo-01').on('hidden.nth.modal', function(){
      code   console.log('hidden.nth.modal');
      code });
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/modal/modal.pug

  +block-lib('tabs', 'Табы', false)
    include:markdown-it(html='true') ../blocks/tabs/readme.md
    +tabs([
      {
        'id': 'tab00',
        'text': 'Вкладка ноль',
        'isActive': true,
      },
      {
        'id': 'tab01',
        'text': 'Вкладка один',
      },
      {
        'id': 'tab02',
        'text': 'Вкладка два',
      },
      {
        'id': 'tab03',
        'text': 'Вкладка три',
      },
      ], 'some-mod')
      +tabs-item('tab00', true, 'some-mod')
        p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.0
      +tabs-item('tab01')
        p За словесными горами в стране, гласных и согласных живут рыбные тексты.1
      +tabs-item('tab02')
        p Словесными горами в стране, гласных и согласных живут рыбные тексты.2
      +tabs-item('tab03')
        p Горами в стране, гласных и согласных живут рыбные тексты.3
    +block-lib-code()
      include:show-code(first-line='//- Pug-файл этого блока:') ../blocks/tabs/tabs.pug


  .burger.blocks-library__menu-toggler(data-toggle='off-canvas')
    span(data-toggle='off-canvas')

block footer
    block append page-bottom

