extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .page-header
    +page-header('dark', {callus:true, phone: true})
  +contacts()
  +page-footer()
  

block append page-bottom
  script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  script.
    ymaps.ready(function () {
    var myMap = new ymaps.Map('themap', {
            center: [45.058676, 39.054365],
            zoom: 16,
            noSuggestPanel: false
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'г. Москва, Госпитальный Вал, д. 8/1, стр. 2',
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'img/point.png',
            // Размеры метки.
            iconImageSize: [32, 40],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-16, -40],

        });

    myMap.controls.remove('zoomControl');
    myMap.controls.remove('trafficControl');
    myMap.controls.remove('geolocationControl');
    myMap.controls.remove('typeSelector');
    myMap.geoObjects.add(myPlacemark);
    });
