extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  #main-scrollbar
    .imgeffected
      img(src="img/action.png", alt="#" style="height:1400px; width:400px")

block append page-bottom
  script.
    Perfetto.init({
      0:       'i-1',
      768:   'i-2',
      1280: 'i-3',
      1580: 'i-4'
    })
