extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  +fs({
        title:"Sensation <span>Spa</span>",
        description: "Клиника красоты для тех, кто ценит безупречность сервиса и эксклюзивное мастерство исполнения"
  },
  'bestgirl',
  {
      header: true,
      breadcrumbs: false,
      callus:true
  })
  +features()(data-repeat class="js-animate opacity")
  +attention()(data-repeat  class="js-animate opacity")
  +services()(class="js-animate opacity14")
  +clinic()
  +cosmeticproducts()
  +mediagalery()
  +seo()
  +page-footer()(class="js-animate opacity14")


block append page-bottom
  script.
    //- Perfetto.init({
    //-   0:       'i-1',
    //-   768:   'i-2',
    //-   1280: 'i-3',
    //-   1580: 'i-4'
    //- })
