extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .page-header
    +page-header('dark', {callus:true, phone: true})
  .page
    .center
      .page__title
        h2.title Центр аппаратной косметологии
      .page__breadcrumbs
        +breadcrumbs()
           +breadcrumbs-item('Главная', '#')
           +breadcrumbs-separater('Услуги', '#')
           +breadcrumbs-item('Аппаратная косметология')
    .pg-services__list
      +serviceslist('img/bg-services.svg')
        .center
          .row
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Дермальное<br>ремоделирование','img/service1.jpg')(href="#")
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('RF-лифтинг','img/service2.jpg')(href="#")
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Фракционная<br>терапия','img/service3.jpg')(href="#")
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Микротоковая<br>терапия','img/service4.jpg')(href="#")
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Криотерапия','img/service5.jpg')(href="#")
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Эндермология','img/service6.jpg')(href="#")
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Биостимуляция','img/service7.jpg')(href="#")
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Криомоделирование','img/service8.jpg')(href="#")
    .pg-services__seo
      .seo
        .seo__hat
          +hat({
            title:'',
            description:'В последнее время аппаратная косметология для лица   приобрела особую популярность, с чем это связано?',
            })
        .seo__body
          .center
            .row
              .col-xs-12.col-sm-12.col-md-8.col-lg-8.col-sm-offset-0.col-md-offset-2.col-lg-offset-2
                .seo__text
                    p Аппаратная косметология для лица с помощью новейших методов и совершенного оборудования для омоложения способна творить чудеса, поворачивая время вспять. Для клиентов клиники Sensation в Краснодаре доступны одни из лучших процедур аппаратной косметологии для лица и тела, позволяющих вернуть им молодость.
                    h6 КАКИЕ АППАРАТЫ МЫ ИСПОЛЬЗУЕМ?
                    p Центр эстетической косметологии предлагает к услугам посетителей ряд профессиональных систем и аппаратов от мировых косметологических брендов:
                    p — Quanta System (Италия);
                    p — AirGent, ReGen MIDI, ReGen RF Maximus (Израиль);
                    p — VITALASER LIMITED (Германия);
                    p — Cocсon (Испания);
                    p — LPG Cellu M6 Integral (Франция).
                    p — Futura Pro (Великобритания)
                    p Салон аппаратной косметологии (центр эстетической косметологии) — гарантия того, что Вас обслуживают сертифицированные специалисты с навыками косметолога, дерматолога и физиотерапевта, опытом работы на импортном оборудовании премиум-класса. Аппаратная косметология для лица у нас гарантирует эффект уже после первой процедуры и полную безопасность.
                    h6 АППАРАТНАЯ КОСМЕТОЛОГИЯ ДЛЯ ОМОЛОЖЕНИЯ ХАРАКТЕРИЗУЕТСЯ СЛЕДУЮЩИМИ ПРИНЦИПАМИ:
                    p — естественное влияние на организм за счет исключительно природных факторов;
                    p — быстрый и продолжительный эффект за счет активной реакции организма;
                    p — безболезненность за счет минимального воздействия на ткани;
                    p — нормализация обмен процессов за счет стимуляции тканей на клеточном уровне;
                    p — универсальность за счет применения одного метода для разных участков тела;
                    p — эффективность, сравнимая с результатами пластических операций.
                    p Аппаратное воздействие для омоложения (аппаратная косметология для омоложения) основывается сугубо на физиотерапевтических эффектах и благотворно влияет на восстановление кожи и подкожных тканей.
    .pg-services__features
      +features(true, 'decor')
    .pg-services__article
      .seo
        .seo__hat
          +hat({
            title:'Аппаратная косметология в Краснодаре'
            })
        .seo__body
          .center
            .row
              .col-xs-12.col-sm-12.col-md-8.col-lg-8.col-sm-offset-0.col-md-offset-2.col-lg-offset-2
                .seo__text
                  p Салон аппаратной косметологии Клиника Sensation в Краснодаре предлагает наиболее эффективные на сегодняшний день процедуры аппаратной косметологии для омоложения. В нашем центре вас ждут приемлимые цены, специальные предложения , акции, а для постоянных клиентов мы предлагаем  гибкую систему скидок. комплексный уход за лицом ждет вас в клинике красоты Sensation. Наш центр аппаратной косметологии предлагает вам приемлемые цены, специальные предложения, акции и скидки.
  +fs({
        title:"Запишитесь<br><span>Online</span>",
        description:"И получите скидку 10%"
  },
  'bestgirl, online, only',
  {
      header: false,
      breadcrumbs: false,
      callus:false
  })
  +page-footer('')

block append page-bottom
