extends ../pug/layout.pug

block meta
  title Сервис
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .page-header(data-sticky="true" class="js-animate opacity")
    +page-header('dark', {callus:true, phone: true})
  +fs({
        title:"Нехирургический <br>RF лифтинг",
        descriptionService: "Видимый эффект после <br>первой процедуры"
        },
      'service',
      {
        header: false,
        breadcrumbs: true,
        callus:false
          }
     )
  .pg-sevice
    .center
      .row
        .pg-sevice__content.col-xs-12.col-sm-8.col-md-7.col-lg-7.col-md-offset-1.col-lg-offset-1
          +article()
        .pg-sevice__menu.col-sm-4.col-md-3.col-lg-3.col-md-offset-1.col-lg-offset-1
          .servicemenu.js-animate.shownow(data-sticky="true" data-sticky-target="#stopfooter")
            ul.servicemenu__list
              li.servicemenu__item
                a(href="#") Чистка лица
              li.servicemenu__item
                a(href="#") Уходы за лицом
              li.servicemenu__item
                a(href="#") Эпиляция воском Lykon
            .servicemenu__all
              +btx('ВСЕ УСЛУГИ', 'a', 'middlearrow')

  +page-footer()



block append page-bottom
  script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  script.
    Perfetto.init({
      0:       'service-1',
      768:   'service-2',
      1280: 'service-3',
      1580: 'service-4'
    })


