extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .page-header
    +page-header('dark', {callus:true, phone: true})
  .page
    .center
      .page__title
        h2.title Спецпредложения
      .page__breadcrumbs
        +breadcrumbs()
           +breadcrumbs-item('Главная', '#')
           +breadcrumbs-separater()
           +breadcrumbs-item('Акции')
    .pg-store__list
      +serviceslist('img/bg-action.svg', 'all')
        .center
          .row
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Ароматерапия по телу от Decleor. Скидка 15%','img/service1.jpg', 'small')
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Скидка 20% на набор косметических средств для кожи лица Valmont Energy','img/service2.jpg', 'small')
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Ароматерапия по телу от Decleor. Скидка 15%','img/service1.jpg', 'small')
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Скидка 20% на набор косметических средств для кожи лица Valmont Energy','img/service2.jpg', 'small')
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Ароматерапия по телу от Decleor. Скидка 15%','img/service1.jpg', 'small')
            .col-xs-12.col-sm-4.col-md-3.col-lg-3
              +serviceitem('Скидка 20% на набор косметических средств для кожи лица Valmont Energy','img/service2.jpg', 'small')

  +fs({
        title:"Запишитесь<br><span>Online</span>",
        description:"И получите скидку 10%"
  },
  'bestgirl, online, only',
  {
      header: false,
      breadcrumbs: false,
      callus:false
  })
  +page-footer('')
  

block append page-bottom

