extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .center

    // H1
    h6.thistitle h111
    h1 Sensation Spa
    h1 Нехирургический  <br>RF лифтинг

    hr

    // H2
    h6.thistitle h2
    h2 Все наше внимание <br>посвящено вам

    hr

    // H5
    h6.thistitle h5
    h5 Услуги специалистов

    hr

    // H6
    h6.thistitle h6
    h6.transform-uppercase Два в одном: нехирургический RF <br>лифтинг и активация мышц

    hr

    // ЗАГОЛОВОК + АБЗАЦ
    h6.thistitle h6 + p
    h6.transform-uppercase Два в одном: нехирургический RF лифтинг и активация мышц
    p Аппарат Maximus объединяет электродинамическую активизацию мышц (DMA) и радиочастотную подтяжку кожи (TriPollar) лица и тела. Как лицо, так и тело под воздействием системы Maximus претерпевают массу положительных изменений. Жировая ткань и дерма разогреваются, подвергаясь липолитическому воздействию. Мышцы тела начинают активно волнообразно сокращаться.

    hr

    // ПРИМЕЧАНИЯ
    h6.thistitle .NOTE
    p.note Любой женщине <br>важно поддерживать <br>ногти в идеальном виде
    h6.thistitle .NOTE2
    p.note2 Каждая женщина мечтает нравиться <br>в первую очередь самой себе. Мы помогаем осуществить <br>это желание
    h6.thistitle .NOTE3
    p.note3 Наш центр косметологии <br>предлагает максимум для вашего <br>комфорта и отличного <br>настроения


    hr
    h6.thistitle .LIST
    ul.list
      li фракционная терапия, криотерапия, дермальное ремоделирование, криомоделирование, лифтинг, микротоковая терапия, эндермология, биостимуляция и др;
      li окрашивание, стрижки и укладки волос, биологические завивки и прически;
      li уходы за лицом (косметологические услуги), чистка лица и массажи, эпиляция воском;
      li безинъекционная биоревитализация, удаление рубцов и растяжек, работа с постакне, устранение морщин разной сложности;
      li хамам, флоатинг, тaлассотерапия, уход по телу, массаж;
      li аппаратный маникюр и педикюр, СПА маникюр.

block append page-bottom
  script.
    Perfetto.init({
      0:       'typo1',
      //- 768:   'i-2',
      //- 1024: 'i-3',
      //- 1280: 'service-4'
      //- 1280: 'i-4'
    })
  style.
    .thistitle {
      font-size:20px;
      color: #47C5CE;
      text-transform: uppercase
    }
    .center {
    max-width: 1400px;
    margin: 0 auto;
    }

