extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .block
    .center

      //-   INPUTS
      h3 input
      +inputlabel('ВАШ ТЕЛЕФОН', 'big')
        +input('big')

block append page-bottom
  script.
    Perfetto.init({
      0:       'modal',
      //- 768:   'i',
    })

