/* footer start */


/*s*/

.fs__footer {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 0px;
  text-align: center;
  width: 100%;
  z-index: 2;
}



.fs__footer-info .center {
  height: 56px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fs__footer-socials {
  margin-left: auto;
}

.fs__footer-social {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 16px;
  display: inline-block;
  height: 17px;
  width: 17px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

.fs__footer-btn {
  /* height: 56px; */
  /* background: #fff; */
}

.fs__footer-online {
  display: block;
  background: #fff;
  height: 56px;
}

.fs__footer-social:hover,
.fs__footer-social:focus {
  color: #47C5CE;
  opacity: 0.9;
}

.fs__footer-callus {
  display: none;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .fs__footer {}

   .fs__footer-info .center {height: 72px;}
  .fs__btnhover {
    content: '';
    display: inline-block;
    width: 50%;
    height: 56px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 72px;
  }



  .fs__btnhover:after {
  content:'';
  display:inline-block;
  height:100%;
  background:#007C87;
  position: absolute;
  right: 0px;
  top: 0;
}


  .fs__btnhover.hover:after {
  animation: hoverbe 0.6s ease-in-out;
  animation-fill-mode: both;
}


.fs__btnhover.hoverout:after {
  animation: hoverout 0.6s ease-in-out;
  animation-fill-mode: both;
}


@keyframes hoverbe {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes hoverout {
  100% {
    width: 0;
  }
  0% {
    width: 100px;
  }
}


  .fs__footer-center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .fs__footer-callus {
    display: block;
  }
  .fs__footer-info {
    order: 2;
    width: 50%;
  }
  .fs__footer-social {}
  .fs__footer-btn {
    order: 1;
    width: 50%;
  }
  .fs__footer-online {}
  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  .fs__footer {}
  .fs__footer-info {}
  .fs__footer-social {}
  .fs__footer-btn {}
  .fs__footer-online {}
  .fs__footer-center {
    max-width: 1040px;
  }

   .fs__footer-info .center {/* height: 120px; */}

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .fs__footer {}
  .fs__footer-info {}
  .fs__footer-social {
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-left: 24px;
  }
  .fs__footer-btn {
    padding-right: 30px;
  }
  .fs__footer-online {}
  .fs__footer-center {
    max-width: 1204px;
  }
  .fs__btnhover {
    height: 120px;
  }
  .fs__footer-info .center {
    height: 120px;
  }


  /*e*/
}

@media(max-width:767px){
  .fs__footer-btn {
    background: #fff;
  }
}

/* footer end */
