/* fs serivce start */

/*s*/
.fs__service {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.fs__service-icon {
  font-size: 30px;
  height: 32px;
}
.fs__service-text {
  font-family: "euclid_flexbold", san-serif;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 24px;
  line-height: 1.5;
}

/*e*/
@media(min-width:768px){
  /*s*/

.fs__service {
  margin-top: 54px;
}
.fs__service-icon {
  font-size: 40px;
  height: 40px;
}
.fs__service-text {
  font-family: "euclid_flexbold", san-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 54px;
  line-height: 1.5;
}
  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/

  /*e*/
}

/* fs serivce end */
