
/* fs start */


/*s*/

.fs {
  height: 100vh;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: left;
  /* background: #313131; */
  overflow: hidden;
  z-index: 13;
}

.fs__background {
  position: absolute;
  top: -70px;
  left: 0px;
  right: 0;
  bottom: -40px;
  z-index: 0;
}

.fs__content {
  color: #fff;
  display: flex;
  align-items: center;
  max-width: 786px;
  position: relative;
  z-index: 2;
}

.fs__header {
  height: 56px;
  position: absolute;
  color: #fff;
  width: 100%;
  z-index: 113;
}

.fs__description {}

.fs__title {
  margin-bottom: 21px;
}

.fs__title span {
  color: #47C5CE;
}

.fs__note {
  max-width: 336px;
}

.fs__mt {
  display: none;
}

.fs__breadcrumbs {
  display: none;
  position: absolute;
  z-index: 3;
  top: 88px;
}





/*e*/

@media(min-width: 768px) {
  /*s*/
  .fs {
    height: 101vh;
    width: 100%;
    justify-content: center;
  }
  .fs__content {
    width: 100%;
    justify-content: space-between;
  }
  .fs__description {
    height: 100%;
  }
  .fs__title {}
  .fs__note {}
  .fs__mt {
    display: block;
    font-size: 12px;
    line-height: 1.6;
    padding-right: 32px;
  }
  .fs__breadcrumbs {
    display: block;
  }
  .fs__description .center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
  }
  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  .fs {}
  .fs__content {
    max-width: 1040px;
  }
  .fs__description {}
  .fs__title {}
  .fs__note {}

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .fs {}
  .fs__content {
    max-width: 1204px;
  }
  .fs__breadcrumbs {
    top: 96px;
  }
  .fs__description {}
  .fs__title {}
  .fs__note {
    max-width: 336px;
  }

  /*e*/
}




/* fs end */


/* fs bestgrirl start */


/*s*/

.fs--bestgirl .fs__background{
  background: url('/img/bestgirl.jpg') 60% 50% no-repeat;
  background-size: cover;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .fs--bestgirl {
    /* background: url('/img/bestgirl.jpg') center no-repeat; */
    background-size: cover;
  }
  /*e*/
}




/* fs bestgrirl end */


/* fs about start */


/*s*/

.fs--about  .fs__background{
  background: url('/img/about-fs.jpg') 0 50% no-repeat;
  background-size: cover;
}

@media(min-width:768px) {
  .fs--about {
    height: calc(100vh - 88px);
  }
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .fs--about  .fs__background{
    background: url('/img/about-fs.jpg') 50% 50% no-repeat;
    background-size: cover;
  }
  /*e*/
}



/* fs about end */


/* fs online start */


/*s*/

.fs--online .fs__title {
  font-family: "euclid_flexlight", san-serif;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .fs--online .fs__footer-socials {
    display: none;
  }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  /*e*/
}


/* fs online end */



/* fs service start */


/*s*/

.fs--service .fs__background{
  background: url('/img/service-fs.jpg') 0 50% no-repeat;
  background-size: cover;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .fs--service  .fs__background{
    background: url('/img/service-fs.jpg') 50% 50% no-repeat;
    background-size: cover;
  }
  .fs--service .fs__mt{
    display: none;
  }
  /*e*/
}


/* fs service end */


/* fs only start */

/*s*/
.fs--only {
  display: none;
}

@media(min-width:768px){
  .fs--only {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
}

/* fs only end */
