//- Все примеси в этом файле должны начинаться c имени блока (fs)

mixin fs(text, mods, elements)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +fs('Текст', 'some-mod')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' fs--' + modsList[i].trim();
      }
    }

  .fs(class=allMods)&attributes(attributes)
      .fs__background.js-animate.opacity(data-speed="-4")
      if(elements.header)
          .fs__header
            +page-header('', {callus:false, phone: true} )(class="js-animate opacity" data-sticky="true")
      .fs__content
        .fs__description
          .center
            if(elements.breadcrumbs)
              .fs__breadcrumbs
                +breadcrumbs('dark')
                  +breadcrumbs-item('Главная', '/home')
                  +breadcrumbs-separater
                  +breadcrumbs-item('Клиника')
            h1.fs__title.js-animate.opacity14(data-speed="0.8")!=text.title
            if(text.description)
              .fs__note
                .note2.js-animate.opacity14(data-speed="0.8")!=text.description
            if(text.descriptionService)
              .fs__service
                .fs__service-icon
                  span.icon-flower
                .fs__service-text!=text.descriptionService
        .fs__mt.js-animate.opacity(data-speed="0.8")
          |<b>400 м<sup>2</sup> </b>красоты   <br>и косметологии
      .fs__footer
        .fs__btnhover
        .fs__footer-center
          .fs__footer-info
            .center
              if(elements.callus)
                .fs__footer-callus
                  +callus()
              .fs__footer-socials
                a(href="#").fs__footer-social
                  span.icon-youtube
                a(href="#").fs__footer-social
                  span.icon-instagramm
          .fs__footer-btn
            +beautifulbutton()(type="button", data-toggle="modal", data-target="#entry")

