/* prices start */


/*s*/

.prices {
  background: #F7F6F6;
  margin: 17px -32px 22px -32px;
  padding: 22px 0 25px 0;
}
.prices__title {
  font-family: "euclid_flexbold", san-serif;
  font-size: 16px;
  line-height: 1.5;

}
.prices__body {}
.prices__signup {}
.prices__footer {
  font-size: 12px;
  margin-top: 16px;
  opacity: 0.7;
  line-height: 1.35;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .prices {
  background: #fff;
  border: 4px solid #EEECEC;
  padding: 27px 6px 40px;
  margin: 17px -16px 22px;
  margin-top: 40px;
}
  .prices__title {
  font-family: "euclid_flexregular", san-serif;
  text-align: center;
  margin: 0 80px;
  }
  .prices__body {}
  .prices__signup {}
  .prices__footer {
  margin-top: 36px;
}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .prices {
  padding: 38px 0 32px 0;
  margin-top: 32px;
  margin-bottom: 29px;
}
  .prices__title {
    font-size: 24px;
    line-height: 1.3;
  }
  .prices__body {}
  .prices__signup {}
  .prices__footer {
  margin-top: 26px;
}

  /*e*/
}

@media(min-width: 1600px) {
  /*s*/
  .prices {
  padding: 26px 0 44px 0;
  border: 8px solid #EEECEC;
  margin: 17px -32px 46px;
  margin-top: 49px;
}
  .prices__title {}
  .prices__body {}
  .prices__signup {}
  .prices__footer {
  margin-top: 35px;
}
  /*e*/
}


/* prices end */
