//- Все примеси в этом файле должны начинаться c имени блока (prices)

mixin prices(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +prices('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' prices--' + modsList[i].trim();
      }
    }

  .prices(class=allMods)&attributes(attributes)
    .center
      .prices__title Цены на услугу нехирургический RF‑лифтинг в Sensation Spa Краснодар
      .prices__body
            .prices__list
              .prices__item
                .prices__name Консультация врача- косметолога
                .prices__value
                  span Бесплатно
                  a.prices__signup(href="#") Записаться
              .prices__item
                .prices__name Лицо + шея + декольте
                .prices__value
                  span 3 500 руб.
              .prices__item
                .prices__name Лицо + шея
                .prices__value
                  span 3 000 руб.
              .prices__item
                .prices__name Лицо
                .prices__value
                  span 2 700 руб.
              .prices__item
                .prices__name Подбородок
                .prices__value
                  span 1 800 руб.
              .prices__item
                .prices__name Шея
                .prices__value
                  span 1 500 руб.

      .prices__footer Цены указаны без учета специальных персональных предложений и скидок
