/* prices start */


/*s*/

.prices__list {
  margin: 22px 0px 0 0px;
}

.prices__item {}

.prices__item:not(:last-of-type) {
  margin-bottom: 25px;
}

.prices__name {
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 9px;
  width: 60%;
}

.prices__value {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.prices__value span {
  font-family: "euclid_flexbold", san-serif;
  line-height: 1.1;
}

.prices__signup {
  text-transform: uppercase;
  color: #47C5CE;
  text-decoration: none;
  font-family: "euclid_flexbold", san-serif;
  font-size: 12px;
}


.prices__signup:hover,
.prices__signup:focus {
  color: #0D0D0D;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .prices__list {
    margin: 35px 0px 0 0px;
  }
  .prices__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
  }
  .prices__item:not(:last-of-type) {
    margin-bottom: 17px;
  }

  .prices__item  {
    align-items: center;
  }

  .prices__name {
    margin-bottom: 0;
    width: 50%;
    line-height: 1.7;
  }
  .prices__value {
    width: 50%;
    align-items: center;
  }
  .prices__value span {}
  .prices__signup {}

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .prices__list {
  margin: 23px 0px 0 0px;
}
  .prices__item {}
  .prices__name {
    font-size: 16px;
  }
  .prices__value {}
  .prices__value span {
  font-size: 16px;
}
  .prices__signup {}
  .prices__name br {
    display: none;
  }
  .prices__item:not(:last-of-type) {
  margin-bottom: 5px;
}
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .prices__list {
  margin: 38px 0px 0 0px;
}
  .prices__item {}
  .prices__name {
  width: 60%;
}
  .prices__value {
  width: 40%;
}
  .prices__value span {}
  .prices__signup {}
  .prices__item:not(:last-of-type) {}
  /*e*/
}




/* prices end */
