.field-file--error .field-file__name,
.field-file--error .field-file__name-text,
.field-file--error .field-file__input,
.field-file--error .field-file__help-text {
  color: #d8544f; }

.field-file--error .field-file__name-text {
  border-color: #d8544f;
  background-color: #f9e2e2; }
