.field-file {
  display: block;
  margin-bottom: 1rem; }
  .field-file__name {
    display: block;
    margin-bottom: 0.4em;
    line-height: 1.5;
    font-weight: 700; }
  .field-file__input-wrap {
    display: block;
    position: relative; }
  .field-file__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0; }
    .field-file__input:active ~ .field-file__name-text,
    .field-file__input:focus ~ .field-file__name-text {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
  .field-file__name-text {
    position: relative;
    display: flex;
    align-items: baseline;
    width: 100%;
    background-color: #fff;
    border: 1px solid #999999;
    border-radius: rem(3px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer; }
    .field-file__name-text:before {
      content: attr(data-button-text);
      display: block;
      background-color: #e6e6e6;
      border-right: 1px solid #999999;
      margin-right: 0.7em;
      line-height: 1.5;
      padding: 0.3em 0.7em;
      border-top-left-radius: rem(3px);
      border-bottom-left-radius: rem(3px); }
    .field-file__name-text:hover:before, .field-file__name-text:focus:before {
      background-color: #cccccc; }
  .field-file__help-text {
    display: block;
    padding-top: 0.4em;
    font-size: 80%;
    line-height: 1.2em;
    color: gray; }
    .field-file__help-text:empty {
      display: none; }
