//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.footer(class=allMods, role='contentinfo')&attributes(attributes)
    #stopfooter
    .center
      .footer__box
          .footer__menu
                //- ITEM 1
                .footer__item
                  a.footer__title(href="#") Аппаратная <br>косметология
                  ul.footer__list
                    li
                      a(href="#") Дермальное ремоделирование AirGent
                    li
                      a(href="#") RF-лифтинг ReGen Maximus
                    li
                      a(href="#") Фракционная терапия ReGen Midi
                    li
                      a(href="#") Микротоковая терапия
                    li
                      a(href="#") Криотерапия
                    li
                      a(href="#") Эндермология LPG Cellu M6 Integral
                    li
                      a(href="#") Биостимуляция
                    li
                      a(href="#") Криомоделирование Coccon
                  //- ITEM 2
                .footer__item
                  a.footer__title(href="#") Эстетическая косметология
                  ul.footer__list
                    li
                      a(href="#") Эстетическая косметология
                    li
                      a(href="#") Чистка лица
                    li
                      a(href="#") Уходы за лицом
                    li
                      a(href="#") Эпиляция воском Lykon
                  //- ITEM 3
                .footer__item
                  a.footer__title(href="#") Услуги стилистов
                  ul.footer__list
                    li
                      a(href="#") Уходы Paul Mitchell
                    li
                      a(href="#") Окрашивание
                    li
                      a(href="#") Биологические завивки
                    li
                      a(href="#") Стрижки
                    li
                      a(href="#") Укладки волос
                    li
                      a(href="#") Прически
                  //- ITEM 4
                .footer__item
                  a.footer__title(href="#") Лазерная косметология
                  ul.footer__list
                    li
                      a(href="#") Quanta Systems Light D /Duetto/
                    li
                      a(href="#") Vitalaser (Германия) - безинъекционная биоревитализация
                    li
                      a(href="#") Устранение морщин
                  //- ITEM 5
                .footer__item
                  a.footer__title(href="#") СПА
                  ul.footer__list
                    li
                      a(href="#") Хаммам
                    li
                      a(href="#") Флоатинг
                    li
                      a(href="#") Ритуалы La Sultane de Saba
                    li
                      a(href="#") Taлассотерапия
                    li
                      a(href="#") Массажи
                    li
                      a(href="#") СПА уходы по телу
                  //- ITEM 6
                .footer__item
                  a.footer__title(href="#") Маникюр и педикюр
                  ul.footer__list
                    li
                      a(href="#") СПА маникюр от La Ric
                    li
                      a(href="#") Аппаратный маникюр
                    li
                      a(href="#") Аппаратный педикюр
                  //- ITEM 7
                .footer__item
                  a.footer__title(href="#") Услуги специалистов
                  ul.footer__list
                    li
                      a(href="#") Brow Bar
                    li
                      a(href="#") Наращивание ресниц
                  //- ITEM 8
                .footer__item
                  a.footer__title(href="#") Клиника
                  a.footer__title(href="#") Галерея
                  a.footer__title(href="#") Спецпредложения
                  a.footer__title(href="#") Новости
                  a.footer__title(href="#") Контакты
          .footer__footer
              .footer__footer-copy
                | © Sensation SPA 2017 <br>Все права защищены
              .footer__footer-develop
                | Создание сайта — <a href="@">Very Good</a>
