/* paga footer menu start */


/*s*/

.footer__menu {}

.footer__item {
  padding: 0 16px;
}

.footer__item:not(:last-of-type) {
  margin-bottom: 32px;
}

.footer__title {
  font-family: "euclid_flexbold", san-serif;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  line-height: 1.45;
}

.footer__title+.footer__title {
  margin-top: 9px;
}

.footer__title:hover,
.footer__title:focus {
  color: #47C5CE;
}

.footer__list {
  padding: 0;
  margin: 9px 0 0 0;
  list-style-type: none;
}

.footer__list li {}

.footer__list li:not(:last-of-type) {
  margin-bottom: 8px;
}

.footer__list li a {
  color: #747474;
  text-decoration: none;
  font-size: 12px;
  line-height: 2;
}


.footer__list li a:hover,
.footer__list li a:focus {
  color: #fff;
}



/*e*/

@media(min-width:768px) {
  /*s*/
  .footer__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

  .footer__item {
    width: 33%;
  }


  .footer__title {}

  .footer__title:hover,
  .footer__title:focus {}

  .footer__list {
  margin: 16px 0 0 0;
}

  .footer__list li {}


  .footer__list li a {
    color: #747474;
    text-decoration: none;
    font-size: 12px;
  }


  .footer__list li a:hover,
  .footer__list li a:focus {}

  /*e*/
}

@media(min-width:1024px) {
  .footer__item {
    width: 25%;
  }
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .footer__list {
    margin-top: 1px;
  }
  .footer__list li {
  }
  .footer__list li:not(:last-of-type) {
    margin-bottom: 0px;
  }
  .footer__item:not(:last-of-type) {
    margin-bottom: 24px;
  }
  /*e*/
}



/* paga footer menu end */
