/* page footer start */


/*s*/

.footer {
  background: #202221;
  width: 100%;
  padding: 34px 0 0;
  margin: 10px 0 0 0;
  position: relative;
}

.footer .center {
  padding: 0 16px;
}


.footer__box {}


/*e*/

@media(min-width:768px) {
  /*s*/
  .footer {padding: 42px 0 0px;margin: 56px 0 0 0;}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
    .footer {padding: 74px 0 0px;margin: 42px 0 0 0;}
  /*e*/
}


.fs--online + .footer {
  margin-top: 0;
}

/* page footer end */




/* name end */
