/* page footer footer start */


/*s*/

.footer__footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  margin: 41px 16px 0;
  padding-top: 35px;
  padding-bottom: 37px;
}

.footer__footer-copy {
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  margin-bottom: 25px;
}

.footer__footer-develop {
  font-size: 12px;
}

.footer__footer-develop a {
  color: #747474;
  text-decoration: none;
}


.footer__footer-develop a:hover,
.footer__footer-develop a:focus {
  color: #fff;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .footer__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__footer-copy {
    margin: 0;
  }
  .footer__footer-develop {}
  .footer__footer-develop a {}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  /*e*/
}


/* page footer footer end */
