// В этом файле должны быть стили для БЭМ-блока code, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;

$border-radius:               rem(3px) !default;

.code {

  $block-name:                &; // #{$block-name}__element

  display: block;
  width: 100%;
  max-height: rem(500px);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  background-color: $gray-lightest;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  white-space: normal;
  tab-size: 2;

  code {
    display: block;
    padding: 0;
    white-space: pre;
    background-color: transparent;
    min-height: 1em;
  }
}
