/* service start */


/*s*/

.service {
}

.service__header {
  padding-top: 20px;
  position: relative;
}

.service__discount {
  font-size: 10px;
  margin-bottom: 7px;
  position: absolute;
  top: 0;
  -webkit-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}

.service__title {
  font-family: "euclid_flexbold", san-serif;
  font-size: 16px;
  color: #47C5CE;
  text-decoration: none;
  font-weight: 100;
  line-height: 1.1;
}

.service__title:hover,
.service__title:focus {
  text-decoration: underline;
}

.service__text {
  display: none;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.service__menu {
  display: none;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.service__body {}




/*e*/

@media(min-width:768px) {
  /*s*/
  .service {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  .service__header {
    margin-bottom: 27px;
    padding-top: 30px;
  }
  .service__discount {
    margin-bottom: 16px;
  }
  .service__body {
    position: relative;
    margin-bottom: 2px;
  }
  .service__title {}
  .service__text {
    display: block;
    font-size: 14px;
    line-height: 1.75;
    position: absolute;
    top: 0;
    z-index: 1;
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
  .service__menu {
    display: block;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 0;
    position: relative;
  }
  .service__menu li {
    list-style-type: none;
    margin-bottom: 16px;
  }
  .service__menu a {
    font-size: 12px;
    color: #1A1B1B;
    text-decoration: none;
    -webkit-transition: color 0.6s ease;
    transition: color 0.6s ease;
  }

  .service__menu a:hover,
  .service__menu a:focus {
    color: #fff;
  }

  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  .service {}
  .service__header {}
  .service__discount {}
  .service__title {}
  .service__text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .service {}
  .service__header {
    padding-top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 55px;
  }
  .service__discount {
    position: relative;
    margin-bottom: 0;
    order: 3;
  }
  .service__title {
    font-family: "euclid_flexregular", san-serif;
    font-size: 18px;
    line-height: 1.2;
  }
  .service__body {

  }


  /*e*/
}


@media(min-width:1600px) {
  .service__header {
  margin-bottom: 35px;
}
  .service__title {
    font-size: 32px;
  }
  .service__discount {
    margin-top: 7px;
    padding-left: 20px;
  }
  .service__text {
    font-size: 16px;
    line-height: 1.45;
  }
  .service__body {
    margin-bottom: 10px;
  }
}


/* service end */
