/* service start */

 /*s*/
.service__more {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "euclid_flexbold", san-serif;
  color: #1A1B1B;
  text-transform: uppercase;
  text-decoration: none;
  display: none;
}
.service__more-label {
  font-size: 12px;
}
.service__more-row {
  position: relative;
  height: 8px;
  color: #007C87;
  width: 32px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service__more-row .icon-row {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 8px;
}
.service__more:hover .service__more-row,
.service__more:focus  .service__more-row{
    width: 48px;
}
 /*e*/
 @media(min-width:768px){
 /*s*/
.service__more {
  display: flex;
  margin-top: auto;
}
 /*e*/
 }
 @media(min-width:1024px){
 /*s*/

 /*e*/
 }
 @media(min-width:1280px){
 /*s*/
  .service__more-row {
    width: 48px;
  }
  .service__more:hover .service__more-row,
  .service__more:focus  .service__more-row{
      width: 60px;
  }
 /*e*/
 }

 /* service end */
