//- Все примеси в этом файле должны начинаться c имени блока (service)

mixin service(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +service('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' service--' + modsList[i].trim();
      }
    }

  .service(class=allMods)&attributes(attributes)
    .service__header.grid__item
      if(text.discount)
        .service__discount!=text.discount
      a.service__title(href="#")!=text.title
    .service__body
      .service__text!=text.text
      ul.service__menu
        li
          a(href="#") Дермальное ремоделирование AirGent
        li
          a(href="#") RF-лифтинг ReGen Maximus
        li
          a(href="#") Фракционная терапия ReGen Midi
        li
          a(href="#") Микротоковая терапия
        li
          a(href="#") Криотерапия
        li
          a(href="#") Эндермология LPG Cellu M6 Integral
        li
          a(href="#") Биостимуляция
        li
          a(href="#") Криомоделирование Coccon

    a.service__more(href="#")
      .service__more-label  Подробнее
      .service__more-row
        span.icon-row

