/* {blockName} start */


/*s*/

.servicemenu {
  margin: 0px 0 0 33px;
  padding-top: 46px;
  -webkit-transition: margin 0.3s ease-in-out !important;
  transition: margin 0.3s ease-in-out !important;
}



.servicemenu.is-show {
  margin-top: 110px;
}
.servicemenu__list {
  padding: 41px 0px 92px;
  margin: 0 0 54px 0;
  list-style-type: none;
  position: relative;
}

.servicemenu__list:after {
  content: '';
  display: inline-block;
  height: 100%;
  left: 25px;
  right: 0;
  border: 8px solid #47C5CE;
  opacity: 0.3;
  z-index: 0;
  top: 0;
  position: absolute;
}

.servicemenu__item {
  position: relative;
  z-index: 2;
}

.servicemenu__item:not(:last-of-type) {
  margin-bottom: 29px;
}

.servicemenu__item a {
  font-family: "euclid_flexbold", san-serif;
  color: #202221;
  text-decoration: none;
  font-size: 16px;
}


.servicemenu__item a:hover,
.servicemenu__item a:focus {
  color: #47C5CE;
}

.servicemenu__all {
  max-width: 151px;
}





/*e*/

@media(min-width:1280px) {
  /*s*/
  .servicemenu {
    margin: 0px 0 0 -10px;
    padding-top: 84px;
  }

  .servicemenu__list:after {
    content: '';
    display: inline-block;
    height: 100%;
    left: 40px;
    right: 0;
    border: 8px solid #47C5CE;
    opacity: 0.3;
    z-index: 0;
    top: 0;
    position: absolute;
  }

  /*e*/
}


@media(min-width:1600px) {
  /*s*/
  .servicemenu {
    margin: 0 0 0 40px;
    padding-top: 104px;
  }

  .servicemenu__list:after {
    left: 32px;
  }
  /*e*/
}





/* {blockName} end */
