/* feature start */


/*s*/

.feature {

}

.feature .reveal__body{
  height: 100%;
}


.feature__flex {
  height: 238px;
  color: #fff;
  padding: 28px 32px 37px;
}

.feature1 .feature__flex{
  background: #007C87;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.feature2 .feature__flex{
  background: black url('/img/feature2.jpg') 100% 0 no-repeat;
  background-size: contain;
  height: 100%;
}

.feature3 .feature__flex{
  background: #B2B2B2 url('/img/feature3mobile.jpg') 100% 0px no-repeat;
}

.feature4 .feature__flex{
  background: #c5c5c4 url(/img/feature4mobile.jpg) 0 0 no-repeat;

}




/*e*/

@media(min-width:768px) {
  /*s*/
  .feature {
  display: flex;
  }

  .feature__flex {
    padding: 51px 40px 37px;

  }
  .feature1 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .feature2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 50%;
  }
  .feature3 {
    margin-left: -40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 50%;
    z-index: 4;
    position: relative;
    /* top: -52px; */
  }
  .feature3 .feature__flex {
    background: #B2B2B2 url('/img/feature3.jpg') 100% 0px no-repeat;
    background-size: cover;
  }
  .feature4 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
  }
  .feature4 .feature__flex {
    background: #B2B2B2 url('/img/feature4.jpg') 0 0px no-repeat;
    background-size: cover;
  }
  /*e*/
}


/* feature end */


/* future inner start */


/*s*/

.feature {
  text-decoration: none;
  display: block;
  position: relative;
}

.feature__flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  z-index: 3;
}

.feature__title {
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  z-index: 4;
}

.feature__more {
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  z-index: 4;
}

.feature__logo {
  font-size: 24px;
  margin-top: auto;
  margin-bottom: 25px;
  position: relative;
}

.feature__down {
  display: none;
  height: 80px;
  font-size: 80px;
  margin: 32px 0 0 3px;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .feature1 .feature__more,
  .feature4 .feature__more {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    display: inline-block;
    width: 15px;
  }
  .feature__logo {
    margin-bottom: 100px;
    font-size: 48px;
  }
  .feature__down {
    display: block;
  }
  .feature4 .feature__more {
    margin-top: auto;
  }
  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  .feature__title {
    font-size: 24px;
    line-height: 1.5;
  }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .feature__title {
    font-size: 32px;
    line-height: 1.5;
  }
  /*e*/
}


/* future inner end */


/* feature start */

@media(min-width:768px) {
  /*s*/
  .feature__flex:after {
    content:'';
    display:inline-block;
    width:100%;
    height:100%;
    background: rgba(6, 6, 6, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .feature:hover,
  .feature:focus {
    color: #47C5CE;
  }
  .feature__flex:hover:after,
  .feature__flex:focus:after{
    opacity: 1;
  }
  .feature1 .feature__flex:hover,
  .feature1 .feature__flex:focus {
    background: #060606;
  }
  .feature1 .feature__flex:after,
  .feature1 .feature__flex:after {
    display: none;
  }
  /*e*/
}

@media(max-width:767px){
  .feature {
    height: 238px;
  }
}

/* feature end */
