//- Все примеси в этом файле должны начинаться c имени блока (feature)

mixin feature(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +feature('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' feature--' + modsList[i].trim();
      }
    }

  .features(class=allMods)&attributes(attributes)
    .features__row.features__row1
      | feature1
    .features__row.features__row2
      | feature2
    .features__row.features__row3
      | feature3
    .features__row.features__row4
      | feature4
