//- Все примеси в этом файле должны начинаться c имени блока (contacts)

mixin contacts(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +contacts('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' contacts--' + modsList[i].trim();
      }
    }

  .contacts(class=allMods)&attributes(attributes)
    .center
      .contacts__title
        h2.title Контактная информация
      .contacts__breadcrumbs
        +breadcrumbs()
           +breadcrumbs-item('Главная', '#')
           +breadcrumbs-separater('Главная', '#')
           +breadcrumbs-item('Контакты')
      .contacts__content
        .contacts__list
          .row
            //- ITEM 1
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              .contacts__item
                    .contacts__name Адрес:
                    .contacts__text
                      p
                        | 350000, г. Краснодар, <br>
                        | ул. Звенящая, 4  <br>
                        | Sensation, клиника красоты
                    .contacts__online
                      a(href="#") Онлайн-запись
                      span  скидка 10%
            //- ITEM 2
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              .contacts__item
                    .contacts__name 8-938-512-18-18
                    a.contacts__mail(href="mailto:info@sitename.ru")
                      | info@sitename.ru
                    .contacts__social
                      a(href="#")
                        span.icon-youtube
                      a(href="#")
                        spa.icon-instagramm
            //- ITEM 3
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              .contacts__item.contacts__mode
                    .contacts__name Режим работы
                    .contacts__text
                      p
                        | В будние дни с 09:00 до 21:00 без перерыва.  <br>
                        | В субботу, воскресенье и общегосударственные праздничные дни с 09:00 до 19:00 без перерыва
          .contacts__map
            #themap
