/* contacts start */


/*s*/

#themap {
  width: 100%;
  height: 100%;
}

.contacts {
  width: 100%;
  margin: 20px 0 46px 0;
}

.contacts__title {
}
.contacts__title h2 {
  font-weight: 400;
}
.contacts__breadcrumbs {
  display: none;
}
.contacts__content {
  margin: 35px 0 0 0;
}
.contacts__map {
  height: 320px;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .contacts {
  margin: 27px 0 0 0;
  }
  .contacts__title {
  margin-bottom: 21px;
}
  .contacts__breadcrumbs {
  display: block;
}
  .contacts__content {
  margin: 48px 0 0 0;
}
  .contacts__map {
  height: 496px;
  margin-top: 57px;
}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .contacts {
  }
  .contacts__title {
  margin-bottom: 29px;
}
  .contacts__breadcrumbs {}
  .contacts__content {}
  .contacts__map {
  margin-top: 45px;
}
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .contacts {
    margin: 58px 0 0 0;
  }
  .contacts__title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .contacts__breadcrumbs {}
  .contacts__content {
  margin: 78px 0 0 0;
}
  .contacts__map {
  margin-top: 74px;
}
  /*e*/
}


/* contacts end */
