/* contacts content start */


/*s*/

.contacts__item {
  margin-bottom: 48px;
}

.contacts__name {
  font-family: "euclid_flexbold", san-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 4px;
}

.contacts__text {}

.contacts__text p {
  margin: 0;
}


/*online s*/

.contacts__online {
  margin-top: 12px;
}


.contacts__online a {
  font-family: "euclid_flexbold", san-serif;
  color: #47C5CE;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-right: 32px;
}

.contacts__online a:hover,
.contacts__online a:focus {
  color: #0D0D0D;
}

.contacts__online span {
  font-size: 12px;
  color: #202221;
  opacity: 0.5;
}


/*online e*/


/*mail s*/

.contacts__mail {
  color: #47C5CE;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-top: 9px;
}

.contacts__mail:hover,
.contacts__mail:focus {
  text-decoration: underline;
}


/*mail e*/


/*social s*/

.contacts__social {
  height: 24px;
  line-height: 1;
  margin-top: 20px;
}

.contacts__social a {
  color: #202221;
  text-decoration: none;
  font-size: 24px;
  margin-right: 32px;
  display: inline-block;
  height: 24px;
  width: 24px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  line-height: 1;
}

.contacts__social a:hover,
.contacts__social a:focus {
  color: #47C5CE;
}

/*social e*/


/*mode s*/

.contacts__mode {}

.contacts__mode .contacts__name {}

.contacts__mode .contacts__textcontacts__text {}


/*mode e*/


/*e*/

@media(min-width:768px) {
  /*s*/
  .contacts__item {
  margin-bottom: 0;
}
  .contacts__name {
    font-size: 16px;
    margin-bottom: 19px;
  }
  .contacts__text {}
  .contacts__text p {}


  /*online s*/

  .contacts__online {
  margin-top: 28px;
}
  .contacts__online a {}
  .contacts__online span {}

  /*online e*/


  /*mail s*/

  .contacts__mail {
  margin-top: 23px;
}

  /*mail e*/


  /*social s*/

  .contacts__social {
  margin-top: 69px;
}
  .contacts__social a {}

  /*social e*/


  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .contacts__online {
}
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .contacts {}

  /*online s*/

  .contacts__online {
  margin-top: 36px;
}
  .contacts__online a {
  font-size: 16px;
  margin-right: 23px;
}
  .contacts__online span {
  font-size: 12px;
}

  /*online e*/


  /*mail s*/

  .contacts__mail {}

  /*mail e*/


  /*social s*/

  .contacts__social {
  margin-top: 78px;
}
  .contacts__social a {}

  /*social e*/
  /*e*/
}


/* contacts content end */
