.off-canvas {
  position: relative;
  overflow: hidden; }
  .off-canvas__aside {
    max-height: 30vh;
    overflow-y: auto;
    backface-visibility: hidden;
    background-color: #1a1a1a;
    color: #fff;
    transition: transform 0.3s ease; }
    .js .off-canvas__aside {
      position: fixed;
      z-index: 2;
      width: 250px;
      height: 100%;
      max-height: none;
      transform: translateX(-250px); }
    .off-canvas__aside a {
      color: #fff; }
      .off-canvas__aside a:hover, .off-canvas__aside a:focus {
        color: #fff;
        background-color: transparent; }
  .off-canvas__page-content {
    backface-visibility: hidden;
    transition: transform 0.3s ease; }
  .off-canvas__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden; }
  .js .off-canvas--open .off-canvas__overlay {
    position: fixed;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease; }
  .js .off-canvas--open .off-canvas__close {
    z-index: 1;
    opacity: 1;
    visibility: visible; }
  .js .off-canvas--open .off-canvas__aside {
    transform: translateX(0); }
  .js .off-canvas--open .off-canvas__page-content {
    transform: translateX(250px); }
