/* online in modal start */


/*s*/

  .online--inmodal{
  margin: 0 auto;
  background: none;
  max-width: 600px;
  padding: 0 16px;
}
  .online--inmodal .center {
    padding: 0;
  }
  .online--inmodal .online__title {}
  .online--inmodal .online__body {}
  .online--inmodal .online__body {}
  .online--inmodal .online__signup {}
  .online--inmodal .online__footer {}
  .online--inmodal .online__form {}
  .online--inmodal .online__btn {}

  .online--inmodal .inputlabel__placeholder-after,
  .online--inmodal .inputlabel__placeholder-before {
    font-family: "euclid_flexbold", san-serif;
  }
/*e*/

@media(min-width:768px) {
  /*s*/

  .online--inmodal{
    border:none;
    max-width: 800px;
  }

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .online--inmodal{}
  .online--inmodal .online__description {
  font-size: 24px;
  margin-top: 10px;
}
  .online--inmodal .online__title {
  font-size: 32px;
}
  .online--inmodal .online__body {
  margin-top: 51px;
}
  .online--inmodal .online__signup {}
  .online--inmodal .online__footer {}
  .online--inmodal .online__form {}
  .online--inmodal .online__btn {}

  /*e*/
}


/* online in modal end */
