/* online start */


/*s*/

.online {
  background: #F7F6F6;
  margin: 64px -32px 22px -32px;
  padding: 32px 0 37px 0;
}

.online__description {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
}

.online__title {
  font-family: "euclid_flexbold", san-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.online__body {}

.online__signup {}

.online__footer {
  font-size: 12px;
  margin-top: 16px;
  opacity: 0.7;
  line-height: 1.35;
}

.online__form {
  margin: 29px 0 0 0;
}

.online__btn {
  float: right;
  min-width: 157px;
  margin-top: 17px;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .online {
    background: #fff;
    border: 4px solid #EEECEC;
    padding: 35px 6px 40px;
    margin: 17px -16px 22px;
    margin-top: 48px;
  }
  .online__description {
  margin-top: 15px;
  text-align: center;
}
  .online__title {
    font-family: "euclid_flexregular", san-serif;
    text-align: center;
    margin: 0 80px;
  }
  .online__body {}
  .online__signup {}
  .online__footer {
    margin-top: 36px;
  }
  .online__btn {margin-top: 33px;}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .online {
    padding: 46px 0 41px 0;
    margin-top: 65px;
    margin-bottom: 29px;
  }
  .online__description {}
  .online__title {
    font-size: 24px;
    line-height: 1.3;
  }
  .online__body {}
  .online__signup {}
  .online__footer {
    margin-top: 26px;
  }

  /*e*/
}

@media(min-width: 1600px) {
  /*s*/
  .online {
    padding: 40px 0 44px 0;
    border: 8px solid #EEECEC;
    margin: 17px -32px 46px;
    margin-top: 83px;
  }
  .online__description {
  margin-top: 22px;
}
  .online__title {}
  .online__body {}
  .online__signup {}
  .online__footer {
    margin-top: 35px;
  }
.online__btn {
  margin-top: 41px;
}
  /*e*/
}



/* online end */
