//- Все примеси в этом файле должны начинаться c имени блока (online)

mixin online(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +online('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' online--' + modsList[i].trim();
      }
    }

  .online(class=allMods)&attributes(attributes)
    .center
      .online__title Запишитесь онлайн на прием в клинику Sensation Краснодар
      .online__description и получите услугу по сниженной цене со скидкой 10%
      .online__body
        .online__form
          form(action="#")
            .row
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                .form__group
                  +inputlabel('КАК ВАС ЗОВУТ?', 'big')
                    +input('big')
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                .form__group
                  +inputlabel('ВАШ ТЕЛЕФОН', 'big')
                    +input('big')
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .form__group
                  +inputlabel('КОГДА ВАМ УДОБНО ПОСЕТИТЬ КЛИНИКУ?', 'big')
                    +input('big')
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .online__btn
                  +btx('Записаться', 'button',  'middlearrow')









