.js .pie-chart {
  display: inline-block;
  position: relative;
  min-width: 100px;
  min-height: 100px; }
  .js .pie-chart__svg {
    display: block;
    transform: rotate(-90deg); }
  .js .pie-chart__circle-back {
    fill: #cccccc; }
  .js .pie-chart__circle {
    fill: #cccccc;
    stroke: #999999; }
  .js .pie-chart__descr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
