// В этом файле должны быть стили для БЭМ-блока pie-chart, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$text-color:                  hsl(0, 0%, 10%) !default;
$font-size:                   1rem !default;

$gray-light:                  hsl(0, 0%, 60%) !default;
$gray-lighter:                hsl(0, 0%, 80%) !default;

.pie-chart {

  $block-name:                &; // #{$block-name}__element

  .js & {

    display: inline-block;
    position: relative;
    min-width: 100px;  // соответствуют ширине по умолчанию (указана в pie-chart.js)
    min-height: 100px; // соответствуют ширине по умолчанию (указана в pie-chart.js)

    &__svg {
      display: block;
      transform: rotate(-90deg);
    }

    &__circle-back {
      fill: $gray-lighter;
    }

    &__circle {
      fill: $gray-lighter;
      stroke: $gray-light;
    }

    &__descr {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
