
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jsc4z0');
  src:  url('../fonts/icomoon.eot?jsc4z0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jsc4z0') format('truetype'),
    url('../fonts/icomoon.woff?jsc4z0') format('woff'),
    url('../fonts/icomoon.svg?jsc4z0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flower:before {
  content: "\e909";
}
.icon-direction-down:before {
  content: "\e900";
}
.icon-direction-next:before {
  content: "\e907";
}
.icon-direction-prev:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e901";
  color: #55c5cf;
}
.icon-lg:before {
  content: "\e902";
  color: #55c5cf;
}
.icon-row:before {
  content: "\e903";
}
.icon-row-down:before {
  content: "\e904";
  color: #55c5cf;
}
.icon-youtube:before {
  content: "\e905";
}
.icon-instagramm:before {
  content: "\e906";
}
