// В этом файле должны быть стили для БЭМ-блока close, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

.close {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  width: 30px;
  line-height: 30px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;

  > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: $toggler-part-height;
    font-size: 0;
    color: transparent;
    background: transparent;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background: $toggler-part-bg-color;
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &--sm {

    $toggler-part-height:     1px;

    width: 20px;
    line-height: 20px;

    > span {
      width: 60%;

      &:before,
      &:after {
        height: $toggler-part-height;
        background: $toggler-part-bg-color;
      }
    }
  }
}
