/* clinic flat start */


/*s*/

.clinic__flat {
  position: relative;
}

.clinic__flat-item {
  position: absolute !important;
  top: 0;
  left: 0;
}

.clinic__flat-item img {
  width: 100%;
  display: block;
}

.clinic__flat-item1 {
  width: 56%;
}

.clinic__flat-item2 {
  width: 35%;
  top: 8.3%;
  left: 56%;
  z-index: 2;
}

.clinic__flat-item3 {
  width: 68%;
  top: auto;
  bottom: 0;
  left: 8%;
}

.clinic__flat-item4 {
  width: 24%;
  top: 64.8%;
  left: 76%;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  /*e*/
}


/* clinic flat end */
