/* clinic start */


/*s*/

.clinic {
  margin: 44px 0 0 0;
  /* background: #F4F5F5; */
  position: relative;
  z-index: 2;
}

.clinic__hat {}

.clinic__body {}

.clinic__photo {
  margin: 22px 0 26px 0;
}

.clinic__description {
  margin-bottom: 17px;
}

.clinic__text p {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 8px;
}

.clinic__more {
  margin: 19px 0 0 0;
  max-width: 136px;
}






/*e*/

@media(min-width:768px) {
  /*s*/
  .clinic {}
  .clinic__hat {}
  .clinic__photo {
    margin: 41px 0 52px 0;
  }
  .clinic__body {}
  .clinic__description {
    margin-bottom: 25px;
  }
  .clinic__text {
    font-size: 14px;
  }
  .clinic__more {
    margin: 26px 0 0 0;
  }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .clinic__hat .hat__title {
    font-size: 32px;
    line-height: 1.3;
  }
  .clinic__hat .hat__title:after {
    top: -61px;
  }
  .clinic__description {
    margin: 89px 0 34px 0;
  }
  .clinic__text {
    margin-left: 88px;
  }
  .clinic__more {
    margin: 34px 0 0 86px;
    max-width: 152px;
  }
  .clinic__more .btx__row {
    width: 48px;
  }

  .clinic__more .btx:focus .btx__row,
  .clinic__more .btx:hover .btx__row {
    width: 58px;
  }
  .clinic__photo {
    margin-bottom: 0;
  }
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .clinic__hat .hat__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .clinic__photo {
    margin: 74px 0 52px 0;
  }
  .clinic__description {
    margin: 140px 0 58px -52px;
  }
  .clinic__text {
    margin-left: 18px;
  }
  .clinic__more {
    margin: 34px 0 0 18px;
    max-width: 152px;
  }
  .cosmeticproducts {
    margin: -93px 0 0 0;
    padding: 137px 0 0 0;
  }
  /*e*/
}




/* clinic end */
