//- Все примеси в этом файле должны начинаться c имени блока (clinic)

mixin clinic(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +clinic('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' clinic--' + modsList[i].trim();
      }
    }

  .clinic(class=allMods)&attributes(attributes)
    .clinic__hat
      +hat({
        title:'Клиника красоты Sensation в <br>Краснодаре'
        })
    .clinic__body
      .center
        .row
          .col-xs-12.col-sm-8.col-md-7.col-lg-9.col-sm-offset-2.col-md-offset-0
            .clinic__photo.js-animate.opacity
              .clinic__flat
                img(src="img/clinicback.png", alt="#")
                .clinic__flat-item.clinic__flat-item1.js-animate.reveal__color-turq(data-inview-class="reveal" data-speed="0.3" reveal-delay="1")
                  .reveal__body
                    img(src="img/clinic11.png", alt="#")
                .clinic__flat-item.clinic__flat-item2.js-animate.reveal__color-black(data-inview-class="reveal" data-speed="2.8" reveal-delay="1")
                  .reveal__body
                    img(src="img/clinic12.png", alt="#")
                .clinic__flat-item.clinic__flat-item3.js-animate.reveal__color-gray1(data-inview-class="reveal" data-speed="1.8" reveal-delay="1")
                  .reveal__body
                    img(src="img/clinic13.png", alt="#")
                .clinic__flat-item.clinic__flat-item4.js-animate.reveal__color-gray2(data-inview-class="reveal" data-speed="0.1" reveal-delay="1")
                  .reveal__body
                    img(src="img/clinic14.png", alt="#")
          .col-xs-12.col-sm-8.col-md-5.col-lg-3.col-sm-offset-2.col-md-offset-0
            .clinic__description.note3.js-animate.opacity14(data-speed="0.1")
              | Наш центр косметологии предлагает максимум для вашего комфорта и отличного настроения
            .clinic__text
              p Салон красоты Sensation в Краснодаре оснащен современным оборудованием для оказания профессиональных услуг в сфере красоты и здоровья. Удобная мебель, стильный дизайн интерьера, вежливый и отзывчивый персонал – в нашем центре косметологии есть все необходимое для комфортного и полезного времяпрепровождения.
              p Высокое качество косметологических услуг по приемлемой цене еще одно немаловажное преимущество клиники красоты Sensation в Краснодаре.
            .clinic__more
              +btx('компания', 'a', '')(href="#")
