//- Все примеси в этом файле должны начинаться c имени блока (mediagalery)

mixin mediagalery(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +mediagalery('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' mediagalery--' + modsList[i].trim();
      }
    }

  .mediagalery(class=allMods)&attributes(attributes)
    .mediagalery__hat
      .center
        +hat({
          title:'Медиагалерея',
          more:'Смотреть все'
          })
    .center
      .mediagalery__list.js-animate.opacity14
          a.mediagalery__item(href="img/galery1.jpg" , data-lightbox="interiors")
            .mediagalery__photo
              img(src="img/galery1.jpg", alt="!")
            .mediagalery__description
              .mediagalery__name Интерьеры
              .mediagalery__value 26 фото
          a.mediagalery__item(href="img/galery2.jpg" , data-lightbox="equipment")
            .mediagalery__photo
              img(src="img/galery2.jpg", alt="!")
            .mediagalery__description
              .mediagalery__name Оборудование
              .mediagalery__value 26 фото
          a.mediagalery__item(href="img/galery3.jpg" , data-lightbox="visitors")
            .mediagalery__photo
              img(src="img/galery3.jpg", alt="!")
            .mediagalery__description
              .mediagalery__name Посетители
              .mediagalery__value 26 фотоs
      .mediagalery__footer
        .mediagalery__all
          a(href="#") смотреть все
        .mediagalery__set
          a(href="img/galery11.jpg" , data-lightbox="interiors")
          a(href="img/galery22.jpg" , data-lightbox="equipment")
          a(href="img/galery33.jpg" , data-lightbox="visitors")
