/* mediagalery start */


/*s*/

.mediagalery__set {
  display: none;
}

.mediagalery {
  width: 100%;
}

.mediagalery__hat {}

.mediagalery__hat .chupa {
  opacity: 0;
}

.mediagalery__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  margin: 29px 0 0 0;
  align-items: center;
}

.mediagalery__item {
  margin-bottom: 36px;
  text-decoration: none;
}

.mediagalery__photo {
  margin-bottom: 25px;
  position: relative;
}

.mediagalery__photo img {
  display: block;
}

.mediagalery__description {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.mediagalery__name {
  font-size: 16px;
  margin-right: 32px;
  color: #1A1B1B;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.mediagalery__value {
  font-size: 12px;
  color: #9D9FA4;
}

.mediagalery__footer {}

.mediagalery__photo:after {
  content:'';
  display:inline-block;
  width:100%;
  background:#000;
  position: absolute;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mediagalery__item:hover .mediagalery__photo:after,
.mediagalery__item:focus .mediagalery__photo:after {
  opacity: 0.3;
}
.mediagalery__item:hover .mediagalery__name,
.mediagalery__item:focus .mediagalery__name {
  color: #55c5cf;
}

/*e*/

@media(min-width:768px) {
  /*s*/
  .mediagalery {}

  .mediagalery__hat {}

  .mediagalery__list {
    flex-direction: row;
    align-items: start;
  }

  .mediagalery__item {

  }

  .mediagalery__photo {}

  .mediagalery__photo img {}

  .mediagalery__description {}

  .mediagalery__name {}

  .mediagalery__value {}

  .mediagalery__footer {
    display: none;
  }
  .mediagalery__item:not(:last-of-type):not(:first-of-type) {
    margin: 0 32px;
  }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .mediagalery {}

  .mediagalery__hat {}

  .mediagalery__list {
  margin: 50px 0 0 0;
  }

  .mediagalery__item {

  }

  .mediagalery__photo {}

  .mediagalery__photo img {}

  .mediagalery__description {}

  .mediagalery__name {}

  .mediagalery__value {}

  .mediagalery__footer {}
  .mediagalery__item:not(:last-of-type):not(:first-of-type) {
  }
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .mediagalery {}

  .mediagalery__hat {}

  .mediagalery__list {
  margin: 59px 0 0 0;
  }

  .mediagalery__item {

  }

  .mediagalery__photo {
  margin-bottom: 33px;
}

  .mediagalery__photo img {}

  .mediagalery__description {}

  .mediagalery__name {
    font-size: 24px;
  }

  .mediagalery__value {
    font-size: 16px;
  }

  .mediagalery__footer {}
  .mediagalery__item:not(:last-of-type):not(:first-of-type) {
  }
  /*e*/
}




/* mediagalery end */
