/* {blockName} start */


/*s*/

.serviceslist {
  position: relative;
}

.serviceslist__bg {
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  left: 0;
}

.serviceslist__content {
  padding-top: 39px;
  margin-top: 16px;
  position: relative;
  z-index: 4;
}

.serviceslist__center {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
}

.serviceslist__center .center {
  position: relative;
  height: 100%;
}

.serviceslist h2 {
  font-size: 16px;
  color: #47C5CE;
  position: relative;
  top: -20px;
  font-weight: 400;
}

.serviceslist+.serviceslist {
  margin-top: -41px;
}





/*e*/

@media(min-width:768px) {
  /*s*/
  .serviceslist__content {
    padding-top: 103px;
    margin-top: 50px;
  }
  .serviceslist__bg {
    width: auto;
    left: 32px;
    right: 32px;
  }

  .serviceslist h2 {
  font-size: 24px;
  height: 1px;
  top: -62px;
}

  .serviceslist+.serviceslist {
  margin-top: -81px;
}

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .serviceslist__content {
    padding-top: 108px;
    margin-top: 60px;
  }
  .serviceslist h2 {
  top: -68px;
}

  .serviceslist+.serviceslist {
  margin-top: -88px;
}

  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .serviceslist__content {
    padding-top: 160px;
    margin-top: 60px;
  }
  .serviceslist h2 {
    font-size: 40px;
    top: -115px;
  }

  .serviceslist+.serviceslist {
  margin-top: -98px;
}
  .serviceslist--all   .serviceslist__content {
    padding-top: 198px;
    margin-top: 60px;
  }
  /*e*/
}



/* {blockName} end */
