/* servicelist item start */


/*s*/

.serviceslist__item {
  margin-bottom: 29px;
  text-decoration: none;
  color: #1B1C1C;
  display: block;
}

.serviceslist__item-body {
  padding: 0 24px;
  margin: 22px 0 0px 0;
}

.serviceslist__item-photo {
  position: relative;
}



.serviceslist__item-photo img {
  display: block;
  width: 100%;
}


.serviceslist__item-photo:after {
  content:'';
  display:inline-block;
  width:100%;
  background:#000;
  position: absolute;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.serviceslist__item:hover .serviceslist__item-photo:after,
.serviceslist__item:focus .serviceslist__item-photo:after {
  opacity: 0.3;
}



.serviceslist__item-name {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 7px;
}

.serviceslist__item-more {}

.serviceslist__item-more .btx__box {
  padding: 10px 0;
}


.serviceslist__item:hover .serviceslist__item-name,
.serviceslist__item:focus .serviceslist__item-name {
  color: #55c5cf;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .serviceslist__item {
  margin-bottom: 35px;
}
  .serviceslist__item-body {}
  .serviceslist__item-photo {}
  .serviceslist__item-name {
  margin-bottom: 12px;
}
  .serviceslist__item-more {}
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .serviceslist__item {
  margin-bottom: 43px;
}
  .serviceslist__item-body {}
  .serviceslist__item-photo {}
  .serviceslist__item-name {}
  .serviceslist__item-more {}
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .serviceslist__item {}
  .serviceslist__item-body {}
  .serviceslist__item-photo {}
  .serviceslist__item-name {
  font-size: 24px;
  margin-bottom: 8px;
  min-height: 43px;
}
  .serviceslist__item-more {}
  /*e*/
}

@media(max-width:767px) {
  .serviceslist__item-more {}
  .serviceslist__item-more .btx__label {
    display: none;
  }
}


/* servicelist item end */


/* small start */

/*s*/
.serviceslist__item--small .serviceslist__item-name {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 18px;
}
/*e*/
@media(min-width:768px){
  /*s*/

  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/

  /*e*/
}

/* small end */
