//- Все примеси в этом файле должны начинаться c имени блока (serviceslist)

mixin serviceslist(urls, mods)

  //- Принимает:
  //-   list    {array} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +serviceslist(['Текст'], 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' serviceslist--' + modsList[i].trim();
      }
    }
    var bg = 'background-image:url('+urls+')';

  .serviceslist(class=allMods)&attributes(attributes)
    .serviceslist__center
      .center
        .serviceslist__bg(style=bg)
    .serviceslist__content
      block




mixin serviceitem(text, url ,mods)

  //- Принимает:
  //-   list    {array} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +serviceitem(text, url, 'some-mod')

  -
    // список модификаторов
    var url = url;
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' serviceslist__item--' + modsList[i].trim();
      }
    }

  a.serviceslist__item(class=allMods)&attributes(attributes)
    .serviceslist__item-photo
      img(src=url, alt="#")
    .serviceslist__item-body
      .serviceslist__item-name.grid__item!=text
      .serviceslist__item-more
        +btx('ПОДРОБНЕЕ','button','middlearrow')


