//- Все примеси в этом файле должны начинаться c имени блока (btx)

mixin btx(text, type, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +btx('Текст', 'type',  'some-mod')
        type - button or a
          button is button
          a is link : )

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' btx--' + modsList[i].trim();
      }
    }

  if(type === "button")
    button.btx(class=allMods)&attributes(attributes)
       .btx__box
           .btx__label!=text
           .btx__row
            span.icon-row
  if(type === "a")
    a.btx(class=allMods)&attributes(attributes)
       .btx__box
           .btx__label!=text
           .btx__row
            span.icon-row
