/* btx start */


/*s*/

.btx {
  background: none;
  border: none;
  display: block;
  padding: 0;
  width: 100%;
  text-decoration: none;
  outline: none;
}

.btx__box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.btx__label {
  font-family: "euclid_flexbold", san-serif;
  color: #1A1B1B;
  text-transform: uppercase;
  font-size: 12px;
}

.btx__row {
  position: relative;
  height: 8px;
  color: #007C87;
  width: 32px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btx__row .icon-row {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 8px;
}

.btx:hover .btx__row,
.btx:focus .btx__row {
  width: 48px;
}


/*e*/

/* btx end */


/* btx middlearrow start */

/*s*/
.btx--middlearrow .btx__row {
  width: 48px;
}

.btx.btx--middlearrow:hover .btx__row,
.btx.btx--middlearrow:focus .btx__row {
  width: 58px;
}

/*e*/
@media(min-width:768px){
  /*s*/

  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/

  /*e*/
}

/* btx middlearrow end */
