/* menu start */


/*s*/

.menu {
  padding: 0;
  margin: 0 32px;
}

.menu__item {}

.menu__link {
  color: #fff;
  font-size: 24px;
  text-align: center;
  display: block;
  font-family: "euclid_flexlight", san-serif;
  text-decoration: none;
}


.menu__link:hover,
.menu__link:focus {
  text-decoration: underline;
}

.menu__item:not(:last-of-type) {margin-bottom: 19px;}


/*e*/

@media(min-width:768px) {
  /*s*/
  .menu {}
  .menu__item {}
  .menu__link {
    font-size: 48px;
  }


  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .menu {}
  .menu__item {}
  .menu__link {}
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .menu {}
  .menu__item {}
  .menu__link {}
  /*e*/
}


/* menu end */
