// В этом файле должны быть стили для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.menu {

  $block-name:                &; // #{$block-name}__element

  min-width: 10em;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {

    &--separator {

      &:not(:last-child) {
        padding-bottom: 0.3rem;
        margin-bottom: 0.3rem;
        border-bottom: 1px solid $border-color;
      }
    }
  }

  &__link {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 1rem;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $gray-lightest;
    }
  }
}
