/* license all start */


/*s*/

.license__all {
  text-align: center;
}

.license__all a {
  font-family: "euclid_flexbold", san-serif;
  text-decoration: none;
  color: #191B1B;
  text-transform: uppercase;
  font-size: 12px;
}


.license__all a:hover,
.license__all a:focus {
  text-decoration: underline;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  /*e*/
}


/* license all end */
