//- Все примеси в этом файле должны начинаться c имени блока (license)

mixin license(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +license('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' license--' + modsList[i].trim();
      }
    }

  .license(class=allMods)&attributes(attributes)
    .license__hat
      .center
        +hat({
          title:'Лицензии, дипломы и <br>сертификаты',
          more:'Смотреть все'
          })
    .license__slider#license__slider
      .license__box
        .center
          .license__list
              a.license__item(href="img/license1.jpg" , data-lightbox="license")
                .license__photo
                  img(src="img/license1.jpg", alt="!")
              a.license__item(href="img/license2.jpg" , data-lightbox="license")
                .license__photo
                  img(src="img/license2.jpg", alt="!")
              a.license__item(href="img/license3.jpg" , data-lightbox="license")
                .license__photo
                  img(src="img/license3.jpg", alt="!")
              a.license__item(href="img/license1.jpg" , data-lightbox="license")
                .license__photo
                  img(src="img/license3.jpg", alt="!")
    .license__footer
      .license__all
        a(href="#") смотреть все
