/* license start */


/*s*/

.license__set {
  display: none;
}

.license {
  width: 100%;
  max-width: 100%;
  margin: 0px 0 35px 0;
}

.license__hat {}

.license__list {margin: 36px 0 0 0;align-items: center;display: flex;}
.license > .center {
  /* padding: 0; */
}

.license__item {
  margin-bottom: 0;
  text-decoration: none;
  min-width: 240px;
  display: block;
  margin-right: 32px;
}

.license__photo {
  margin-bottom: 25px;
}

.license__photo img {
  display: block;
}

.license__description {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.license__name {
  font-size: 16px;
  margin-right: 32px;
  color: #1A1B1B;
}

.license__value {
  font-size: 12px;
  color: #9D9FA4;
}

.license__footer {
  margin-top: 22px;
}

.license__box {

}

.license__slider {
  max-width: 100%;
  overflow: auto;
  position: relative;
}

/*e*/

@media(min-width:768px) {
  /*s*/
  .license {}

  .license__hat {}

  .license__list {
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
  }

  .license__item {margin-right: 0;}

  .license__photo {}

  .license__photo img {}

  .license__description {}

  .license__name {}

  .license__value {}

  .license__footer {
    display: none;
  }
  .license__item:not(:last-of-type):not(:first-of-type) {
    margin: 0 16px;
  }
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .license {}

  .license__hat {}

  .license__list {
  margin: 50px 0 0 0;
  }

  .license__item {

  }

  .license__photo {}

  .license__photo img {}

  .license__description {}

  .license__name {}

  .license__value {}

  .license__footer {}
  .license__item:not(:last-of-type):not(:first-of-type) {
  }
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  .license {
  margin: 0px 0 55px 0;
}

  .license__hat {}

  .license__list {
  margin: 59px 0 0 0;
  }

  .license__item {

  }

  .license__photo {
  margin-bottom: 33px;
}

  .license__photo img {}

  .license__description {}

  .license__name {
    font-size: 24px;
  }

  .license__value {
    font-size: 16px;
  }

  .license__footer {}
  .license__item:not(:last-of-type):not(:first-of-type) {
  }
  /*e*/
}




/* license end */
