.field-checkbox {
  display: block;
  margin-bottom: 1rem; }
  .field-checkbox__title {
    display: block;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.4em; }
  .field-checkbox__input-wrap + .field-checkbox__input-wrap {
    margin-top: 1rem; }
  .field-checkbox__name {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: 1.5; }
  .field-checkbox__name-text {
    display: inline-block; }
    .field-checkbox__name-text:before {
      content: '';
      position: absolute;
      top: rem(5px);
      left: 0;
      width: rem(14px);
      height: rem(14px);
      border: 2px solid currentColor;
      border-radius: rem(3px); }
    input:focus ~ .field-checkbox__name-text:before {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
    .field-checkbox__name-text:after {
      content: '';
      position: absolute;
      top: rem(6px);
      left: 3px;
      width: rem(14px);
      height: rem(6px);
      opacity: 0;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transform: rotate(-45deg);
      transition: opacity 0.3s;
      box-shadow: 1px 2px 0 #fff, inset 0 -2px 0 #fff; }
      input:checked ~ .field-checkbox__name-text:after {
        opacity: 1; }
  .field-checkbox__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    opacity: 0; }
    .field-checkbox__input:focus, .field-checkbox__input:active {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
  .field-checkbox__help-text-wrap {
    padding-left: 1.5em; }
  .field-checkbox__help-text {
    display: block;
    padding-top: 0.4em;
    font-size: 80%;
    line-height: 1.2em;
    color: gray; }
    .field-checkbox__help-text:empty {
      display: none; }
