// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$color-danger:                hsl(2, 64%, 58%) !default;

.field-checkbox {

  $block-name:                &; // #{$block-name}__element

  &__input-wrap--error {

    #{$block-name}__name-text,
    #{$block-name}__help-text {
      color: $color-danger;
    }
  }
}
