/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */


/*
 *  Default theme - Owl Carousel CSS File
 */

.owl-full .owl-nav {
  margin-top: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
}

.owl-full .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-full .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
}

.owl-full .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  z-index: 4;
  bottom: -28px;
  width: 100%;
}

.owl-full .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-full .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0px 4px;
  background: #007C87;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  opacity: 0.3;
}

.owl-full .owl-dots .owl-dot.active span,
.owl-full .owl-dots .owl-dot:hover span {
  background: #007C87;
  opacity: 1;
}

.owl-full .owl-nav [class*='owl-'] {
  width: 44px;
  height: 100%;
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  -webkit-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
}


.owl-full .owl-nav [class*='owl-']:hover,
.owl-full .owl-nav [class*='owl-']:focus {
  background: rgba(32, 34, 33, 0.3);
}

.owl-full .owl-nav .owl-prev {
  left: 0;
}
.owl-full .owl-nav .owl-next {
  right: 0;
}

.owl-full {
  margin-bottom: 38px;
}

@media(min-width:768px){
  /*s*/
  .owl-full .owl-nav [class*='owl-'] {
  width: 64px;
  font-size: 33px;
}

  .owl-full .owl-nav .owl-prev {}
  .owl-full .owl-nav .owl-next {
}
  /*e*/
}
@media(min-width:1280px){
  /*s*/
  .owl-full .owl-nav [class*='owl-'] {
  width: 88px;
}

  .owl-full .owl-nav .owl-prev {}
  .owl-full .owl-nav .owl-next {}
  /*e*/
}
@media(min-width:1600px){
  /*s*/
  .owl-full {
    margin-bottom: 50px;
  }
  .owl-full .owl-dots {bottom: -36px;}
  .owl-full .owl-nav [class*='owl-'] {
    width: 104px;
  }

  .owl-full .owl-nav .owl-prev {}
  .owl-full .owl-nav .owl-next {}
  /*e*/
}

/* name end */
