/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */


/*
 *  Reviews theme - Owl Carousel CSS File
 */

.owl-reviews .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-reviews .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-reviews .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-reviews .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-reviews .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  bottom: -70px;
}

.owl-reviews .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-reviews .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-reviews .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0px 5px;
  background: #007C87;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  opacity: 0.3;
}

.owl-reviews .owl-dots .owl-dot.active span,
.owl-reviews .owl-dots .owl-dot:hover span {
  background: #007C87;
  opacity: 1;
}

@media(min-width:768px){
  /*s*/
 .owl-reviews .owl-nav.disabled+.owl-dots {/* bottom: -70px; */}
  /*e*/
}
@media(min-width:1280px){
  /*s*/
 .owl-reviews .owl-nav.disabled+.owl-dots {
  bottom: -89px;
 }
  /*e*/
}
@media(min-width:1600px){
  /*s*/
  .owl-reviews .owl-nav.disabled+.owl-dots {
    bottom: -98px;
  }
  /*e*/
}


