//- Все примеси в этом файле должны начинаться c имени блока (features)

mixin features(decor, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +features('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' features--' + modsList[i].trim();
      }
    }

  .features(class=allMods)&attributes(attributes)
    if(decor === true)
      .features__decor.js-animate.opacity14
    .features__row.features__row1
      a.feature.feature1.js-animate.reveal__color-blackturq(href="#" data-inview-class="reveal"  reveal-delay="0.4")
        .reveal__body
          .feature__flex
            .feature__title
              .reavel__body Спа-уходы с распариванием в хаммаме
            .feature__logo
              span.icon-lg
            .feature__more ПОДРОБНЕЕ
            .feature__down
              span.icon-row-down
    .features__row.features__row2
      a.feature.feature2.js-animate.reveal__color-turq(href="#" data-inview-class="reveal"  reveal-delay="0.8")
        .reveal__body
          .feature__flex
            .feature__title  Скидка 15% на уход Mirrorsmooth от Paul Mitchell
            .feature__more ПОДРОБНЕЕ
      a.feature.feature3.js-animate.reveal__color-black(href="#" data-inview-class="reveal"  reveal-delay="0.6")
        .reveal__body
          .feature__flex
            .feature__title Скидка 15% на восстанавливающий уход «Керопластика» волос
            .feature__more ПОДРОБНЕЕ
    .features__row.features__row3
      a.feature.feature4.js-animate.reveal__color-gray(href="#" data-inview-class="reveal"  reveal-delay="0.4")
        .reveal__body
          .feature__flex
            .feature__title Именинницам скидка 15%
            .feature__more ПОДРОБНЕЕ
            .feature__down
              span.icon-row-down
