/* features--decor start */

/*s*/
.features--decor {
  /* box-sizing: content-box; */
}
/*e*/
@media(min-width:768px){
  /*s*/
.features--decor {
  padding: 56px 0;
}
  /*e*/
}
@media(min-width:1280px){
  /*s*/
.features--decor {
  padding: 80px 0;
}
  /*e*/
}
@media(min-width:1600px){
  /*s*/
.features--decor {}
  /*e*/
}

/* features--decor end */
