/* features start */

.features {
  /* background: #3a3a3a; */
}

/*s*/

.features {
  width: 100%;
  /* margin-top: 160px; */
}

.features__row {
  position: relative;
  /* top: -149px; */
}

.features__row1 {}

.features__row2 {}

.features__row3 {}

.features__decor {
  display: none;
}

/*e*/

@media(min-width:768px) {
  /*s*/
  .features {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 80vh;
    position: relative;
    margin-top: 20px;
  }
  .features__row {
  position: relative;
  z-index: 3;
  top: -20px;
}
  .features__row1 {
    width: 29%;
    padding-bottom: 80px;
  }
  .features__row2 {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  .features__row3 {
      width: 26%;
  }
  .features__decor {
    display: block;
    position: absolute;
    width: 43.93%;
    left: 28.03%;
    top: 0;
    bottom: 0;
    z-index: 1;
    background:url('/img/water.jpg') center no-repeat;
  }

  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}
@media(min-width:1600px) {
  /*s*/


.features__row1 {
  width: 31%;
}

.features__row2 {}

.features__row3 {
  width: 24%;
}
.features__decor {
  width: 53.53%;
  left: 22.43%;
}
  /*e*/
}


/* features end */
