//- Все примеси в этом файле должны начинаться c имени блока (attention)

mixin attention(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +attention('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' attention--' + modsList[i].trim();
      }
    }

  .attention(class=allMods)&attributes(attributes)
    .attention__hat
      +hat({
        title:'Все наше внимание<br> посвящено вам',
        description:'Каждая женщина мечтает нравиться в первую очередь самой себе.<br> Мы помогаем осуществить это желание'
        })
    .attention__body.js-animate.opacity
      a.attention__action.js-animate.opacity(href="#")
        | СМОТРЕТЬ  <br> ВСЕ АКЦИИ
      .attention__line.js-animate.opacity(data-speed="0.8")
        .line
