/* attention start */


/*s*/

.attention {
  margin: 48px 0 0 0;
  width: 100%;
}

.attention__hat {}

.attention__body {
  margin-top: 34px;
}

.attention__action {
  height: 176px;
  width: 176px;
  background:url('/img/action.png') center  no-repeat;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}


.attention__action:hover,
.attention__action:focus {
  color: #fff;
  opacity: 0.8 !important;
}
.attention__line {
  display: none;
}

/*e*/

@media(min-width:768px) {
  /*s*/
  .attention {
    margin: 32px 0 0 0;
  }
  .attention__line {
    display: block;
    margin-top: 48px;
  }
  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  .attention__body {
  margin-top: 41px;
}
  /*e*/
}


/* attention end */
