//- Все примеси в этом файле должны начинаться c имени блока (chupa)

mixin chupa(elements, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +chupa('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' chupa--' + modsList[i].trim();
      }
    }

  .chupa(class=allMods)&attributes(attributes)
    .chupa__line.js-animate(data-speed="1.5")
    .chupa__lg.js-animate(data-speed="1.2")
      .icon-lg
