/* {blockName} start */


/*s*/

.chupa {
  margin: 40px 0 24px 0;
}

.chupa__line {
  width: 1px;
  height: 176px;
  background: #1A1B1B;
  opacity: 0.2 !important;
  margin: 0 auto;
  margin-bottom: 24px;
  position: relative;
  left: 2px;
  display: none;
}

.chupa__lg {
  font-size: 32px;
  text-align: center;
}

.chupa__lg .icon-lg:before {
  color: #1A1B1B;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .chupa__line {
    display: block;
  }
  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}



/* {blockName} end */

.line {
  width: 1px;
  height: 184px;
  background: #1A1B1B;
  margin: 0 auto;
  opacity: 0.2;
}
